<div class="screen SimpleChat" style="display: none;">
	<div class="panels">
		<div class="panel item_viewer">
			<div class="panel_content">
				<div class="middle_bar">
					<div class="panel_center" data-bind="heightAdjust: {'elements': [domQuickReply], 'triggers': [replyTextFocus()]}">
						<div data-bind="customScrollbar: {x: true, y: true, 'reset': posts()}">
							<div class="scroll-inner">
								<!-- ko foreach: posts -->
								<div class="post">
									<div>
										<span class="name" data-bind="text: name"></span>
										<span class="time" data-bind="text: date"></span>
									</div>
									<div class="text" data-bind="text: text"></div>
								</div>
								<!-- /ko -->
							</div>
						</div>

						<!-- ko if: bAllowReply -->
							<!-- ko template: {name: 'SimpleChatClient_QuickReplyView'} --><!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
