<div class="screen SimpleChat" style="display: none;">
	<div class="panels">
		<div class="panel item_viewer">
			<div class="panel_content">
				<div class="middle_bar">
					<div class="panel_center" data-bind="heightAdjust: {'elements': [domQuickReply], 'triggers': [replyTextFocus()]}">
						<div data-bind="customScrollbar: {x: true, y: true, 'scrollToBottomTrigger': scrollTrigger}">
							<div class="scroll-inner" data-bind="initDom: scrolledPostsDom">
								<div class="post" data-bind="visible: offset() > 0 || gettingMore()">
									<a href="javascript: void()" data-bind="i18n: {'key': 'SIMPLECHAT/ACTION_LOAD_EARLIER_MESSAGES'}, click: showMore, visible: !gettingMore()"></a>
									<span data-bind="i18n: {'key': 'SIMPLECHAT/ACTION_LOAD_EARLIER_MESSAGES_IN_PROGRESS'}, visible: gettingMore"></span>
								</div>
								<!-- ko foreach: posts -->
								<div class="post">
									<div>
										<span class="name" data-bind="text: name"></span>
										<span class="time" data-bind="text: date"></span>
									</div>
									<div class="text" data-bind="text: text"></div>
								</div>
								<!-- /ko -->
							</div>
						</div>

						<!-- ko if: bAllowReply -->
							<!-- ko template: {name: 'SimpleChatClient_QuickReplyView'} --><!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
