<div class="quick_reply fields" data-bind="initDom: domQuickReply, 
	quickReplyAnim: {
		'sendAction': replySendingStarted(), 
		'saveAction': replySavingStarted(), 
		'activeAction': isQuickReplyActive()
	}">
	<div class="status">
		<div class="text" data-bind="text: replyLoadingText"></div>
	</div>
	<div class="row" data-bind="css: {'focused': replyTextFocus(),
		 'filled': replyText().length > 0}">
		<label for="reply_text" class="placeholder"  data-bind="i18n: {'key': '%ModuleName%/LABEL_YOUR_TEXT'}"></label>
		<textarea id="reply_text" class="input" data-bind="value: replyText, 
			hasfocus: replyTextFocus, onEnter: sendPost, valueUpdate: 'afterkeydown'"></textarea>
	</div>
	<div class="buttons">
		<span class="button" data-bind="i18n: {'key': '%ModuleName%/ACTION_SEND'}, click: sendPost"></span>
	</div>
</div>
