<div class="panel_top clearfix">
	<div class="toolbar">
		<span class="content">
			<!-- ko foreach: watchers -->
				<!-- ko if: $index() < 5 -->
				<span class="item watcher" data-bind="customTooltip: $data.text">
					<span class="icon" data-bind="visible: $data.icon"></span>
					<span class="text_icon" data-bind="text: $data.initial, visible: !$data.icon"></span>
					<span class="text" data-bind="text: $data.text"></span>
				</span>
				<!-- /ko -->
			<!-- /ko -->
			
			<!-- ko if: watchers().length > 5 -->
			<span class="item control" data-bind="dropdown: {control: false}">
				<span class="icon arrow"></span>
				<span class="dropdown">
					<span class="dropdown_helper">
						<span class="dropdown_arrow"><span></span></span>
						<span class="dropdown_content">
							<!-- ko foreach: watchers -->
								<!-- ko if: $index() >= 5 -->
								<span class="item" data-bind="text: $data"></span>
								<!-- /ko -->
							<!-- /ko -->
						</span>
					</span>
				</span>
			</span>
			<!-- /ko -->
			
			<span class="group resolve" data-bind="dropdown: {}">
				<span class="item" data-bind="command: closeCommand, customTooltip: 'HELPDESK/ACTION_CLOSE_ISSUE', visible: state() !== Enums.HelpdeskThreadStates.Resolved">
					<span class="icon"></span>
					<span class="text" data-bind="i18n: {'key': 'HELPDESK/ACTION_CLOSE_ISSUE'}"></span>
				</span>
				<span class="item control">
					<span class="icon arrow"></span>
				</span>
				<span class="dropdown">
					<span class="dropdown_helper">
						<span class="dropdown_arrow"><span></span></span>
						<span class="dropdown_content">
							<span class="item allread" data-bind="command: pendingCommand, i18n: {'key': 'HELPDESK/LABEL_PENDING_STATE'}"></span>
							<span class="item unread" data-bind="command: deferCommand, i18n: {'key': 'HELPDESK/LABEL_DEFERRED_STATE'}"></span>
							<span class="item unread" data-bind="command: answerCommand, i18n: {'key': 'HELPDESK/LABEL_ANSWERED_STATE'}"></span>
						</span>
					</span>
				</span>
			</span>
			<span class="item wait_client" data-bind="command: waitCommand, customTooltip: 'HELPDESK/ACTION_WAITING_CLIENT'">
				<span class="icon"></span>
				<span class="text" data-bind="i18n: {'key': 'HELPDESK/ACTION_WAITING_CLIENT'}"></span>
			</span>
			<span class="item delete" data-bind="command: deleteCommand, visible: !bNewTab, customTooltip: 'CORE/ACTION_DELETE'">
				<span class="icon"></span>
				<span class="text" data-bind="i18n: {'key': 'CORE/ACTION_DELETE'}"></span>
			</span>
			<span class="item new_window" data-bind="command: openNewWindowCommand, visible: !bNewTab, customTooltip: 'HELPDESK/ACTION_OPEN_IN_NEW_WINDOW'">
				<span class="icon"></span>
				<span class="text" data-bind="i18n: {'key': 'HELPDESK/ACTION_OPEN_IN_NEW_WINDOW'}"></span>
			</span>
		</span>
	</div>
	
	<div class="thread_heading" data-bind="visible: subject() !== ''">
		<span class="address_capsule">
			<span class="owner control" data-bind="text: subject(), initDom: ownerDom, 
					attr: {'data-email': selectedItem() ? selectedItem().sEmail : '', 'data-name': selectedItem() ? selectedItem().sName : ''}"></span>
		</span>
	</div>
	<a class="link" href="javascript:void(0);" data-bind="i18n: {'key': 'HELPDESK/ACTION_SHOW_ALL_THEIR_THREADS'}, click: onShowThreadsByOwner, visible: !bNewTab && subject() !== ''"></a>
</div>
<div class="panel_center" data-bind="customScrollbar: {'scrollToBottomTrigger': scrollToBottomTrigger,
	 'scrollToTopTrigger': scrollToTopTrigger}">
	<div class="thread_content scroll-inner">
		<div class="details" data-bind="visible: !clientDetailsVisible() && '' !== externalContentUrl()">
			<div class="details_content">
				<span class="link details_show" data-bind="i18n: {'key': 'CORE/ACTION_SHOW_DETAILS'}, click: showClientDetails"></span>
			</div>
		</div>
		<div class="details" data-bind="visible: clientDetailsVisible() && '' !== externalContentUrl()">
			<div class="details_content">
				<span class="link details_hide" data-bind="i18n: {'key': 'CORE/ACTION_HIDE_DETAILS'}, click: hideClientDetails"></span>
				<!-- ko if: '' !== externalContentUrl() -->
					<iframe class="external_content" src="javascript:void(0);"
						data-bind="attr: { 'src': externalContentUrl }"></iframe>
				<!-- /ko -->
			</div>
		</div>

		<div class="notification" data-bind="visible: loadingViewPane, i18n: {'key': 'CORE/INFO_LOADING'}"></div>
		
		<div class="link more" data-bind="visible: hasMorePosts() && !loadingMoreMessages() && !loadingViewPane(), 
			 click: commandGetOlderPosts, i18n: {'key': 'HELPDESK/ACTION_SHOW_MORE_MESSAGES'}"></div>

		<div class="link more" data-bind="visible: loadingMoreMessages() && !loadingViewPane(), i18n: {'key': 'HELPDESK/ACTION_SHOW_MORE_MESSAGES_IN_PROGRESS'}"></div>
		
		<div class="posts" data-bind="foreach: posts(), quoteText: {actionHandler: quoteText}">
			<div class="post request" data-bind="css: {
					'request': bThreadOwner,
					'response': !bThreadOwner,
					'internal': iType === 1
				}">
				<div class="header">
					<span class="close" data-bind="css: {'canBeDeleted': canBeDeleted}, click: function (oPost) { $root.deletePost(oPost); }"></span>
					<span class="date" data-bind="text: sDate"></span>
					<span class="icon"></span>
					<span class="name" data-bind="text: sFrom"></span>
				</div>
				<div class="content" data-bind="html: sText, visible: !collapsed()"></div>
				<div class="attachments large" data-bind="visible: attachments().length > 0 && !collapsed()">
					<!-- ko template: {name: 'Core_FileView', foreach: attachments} --><!-- /ko -->
				</div>
			</div>
		</div>
	</div>
</div>
