.theme-thread-pin() {
	@thread-pin-background: #ffffff;
	@thread-pin-color: #a0a0a0;
	@thread-pin-border: 1px solid #a0a0a0;
	
	@thread-pin-selected-background: @theme-list-selected-item-bg;
	@thread-pin-selected-color: #ffffff;
	@thread-pin-selected-border: 1px solid #ffffff;
	
	@thread-pin-unread-background: #a0a0a0;
	@thread-pin-unread-color: #ffffff;
	@thread-pin-unread-border: 1px solid #a0a0a0;
	
	@thread-pin-unread-selected-background: #ffffff;
	@thread-pin-unread-selected-color: @theme-list-selected-item-bg;
	@thread-pin-unread-selected-border: @thread-pin-selected-border;
}

.theme-message-toolbar-item() {};
