<div class="tabs_panel">
	<!-- ko if: appCustomLogo !== '' -->
		<span class="item logo">
			<img class="img_logo" data-bind="attr: {'src': appCustomLogo}"/>
		</span>
	<!-- /ko -->

	<span class="item logout" data-bind="visible: showLogout">
		<span class="link" data-i18n="HEADER/LOGOUT" data-bind="i18n: 'text', click: logout"></span>
	</span>
	
	<!-- ko foreach: tabs -->
		<!-- ko template: {name: ViewTemplate, data: $data} --><!-- /ko -->
	<!-- /ko -->

	<!--<span class="item settings" data-bind="visible: mobileDevice">
		<a class="link" href="?mobile" data-i18n="HEADER/MOBILE_VERSION" data-bind="i18n: 'text'"></a>
	</span>-->
</div>