/.idea
/nbproject
/node_modules
/build/dist
/build/tmp
/build/docs
/data
/npm-debug.log
/skins/Default/styles.css
/skins/Default/styles-mobile.css
/skins/Netvision/styles.css
/skins/Netvision/styles-mobile.css
/skins/White/styles.css
/skins/White/styles-mobile.css
/skins/Quickme/styles.css
/skins/Quickme/styles-mobile.css
/skins/Blue/styles.css
/skins/Blue/styles-mobile.css
/skins/DeepForest/styles.css
/skins/DeepForest/styles-mobile.css
/skins/Autumn/styles.css
/skins/Autumn/styles-mobile.css
/skins/OpenWater/styles.css
/skins/OpenWater/styles-mobile.css
/skins/BlueJeans/styles.css
/skins/BlueJeans/styles-mobile.css
/skins/Ecloud/styles.css
/skins/Ecloud/styles-mobile.css
/skins/Funny/styles.css
/skins/Funny/styles-mobile.css
/static/js/*.js
/static/css/*.css
/static/
/build/