/.idea
/nbproject
/node_modules
/data
/npm-debug.log
/static/
/vendor/
/migrateto30.php
/migrateto20.php
/migrateto21.php
/composer.phar
/composer.lock
/_build-composer.bat
test_t.php
/tenants/
/modules/
/entry.js
/apigen.phar
/_build-apigen.bat
/docs/