/.idea
/nbproject
/node_modules
/build/dist
/build/tmp
/build/docs
/data
/npm-debug.log
/static/
/build/
/vendor/
/migrateto30.php
/migrateto20.php
/migrateto21.php
/composer.phar
/_build-composer.bat
test_t.php