[submodule "AdminPanelClient"]
	path = modules/AdminPanelClient
	url = https://github.com/afterlogic/aurora-module-webclient-adminpanel
[submodule "BasicAuth"]
	path = modules/BasicAuth
	url = https://github.com/afterlogic/aurora-module-basic-auth
[submodule "BasicAuthClient"]
	path = modules/BasicAuthClient
	url = https://github.com/afterlogic/aurora-module-webclient-basic-auth
[submodule "ChangePasswordClient"]
	path = modules/ChangePasswordClient
	url = https://github.com/afterlogic/aurora-module-webclient-change-password
[submodule "Calendar"]
	path = modules/Calendar
	url = https://github.com/afterlogic/aurora-module-calendar
[submodule "CalendarClient"]
	path = modules/CalendarClient
	url = https://github.com/afterlogic/aurora-module-webclient-calendar
[submodule "Contacts"]
	path = modules/Contacts
	url = https://github.com/afterlogic/aurora-module-contacts
[submodule "ContactsClient"]
	path = modules/ContactsClient
	url = https://github.com/afterlogic/aurora-module-webclient-contacts
[submodule "Core"]
	path = modules/Core
	url = https://github.com/afterlogic/aurora-module-core
[submodule "CoreClient"]
	path = modules/CoreClient
	url = https://github.com/afterlogic/aurora-module-webclient-core
[submodule "Dav"]
	path = modules/Dav
	url = https://github.com/afterlogic/aurora-module-dav
[submodule "Files"]
	path = modules/Files
	url = https://github.com/afterlogic/aurora-module-files
[submodule "FilesClient"]
	path = modules/FilesClient
	url = https://github.com/afterlogic/aurora-module-webclient-files
[submodule "HelpDesk"]
	path = modules/HelpDesk
	url = https://github.com/afterlogic/aurora-module-helpdesk
[submodule "HelpDeskClient"]
	path = modules/HelpDeskClient
	url = https://github.com/afterlogic/aurora-module-webclient-helpdesk
[submodule "Ios"]
	path = modules/Ios
	url = https://github.com/afterlogic/aurora-module-ios
[submodule "Mail"]
	path = modules/Mail
	url = https://github.com/afterlogic/aurora-module-mail
[submodule "MailClient"]
	path = modules/MailClient
	url = https://github.com/afterlogic/aurora-module-webclient-mail
[submodule "MailSensitivityClientPlugin"]
	path = modules/MailSensitivityClientPlugin
	url = https://github.com/afterlogic/aurora-module-webclient-mail-sensitivity-plugin
[submodule "Min"]
	path = modules/Min
	url = https://github.com/afterlogic/aurora-module-min
[submodule "MobileSyncClient"]
	path = modules/MobileSyncClient
	url = https://github.com/afterlogic/aurora-module-webclient-mobile-sync
[submodule "OpenPgpClient"]
	path = modules/OpenPgpClient
	url = https://github.com/afterlogic/aurora-module-webclient-openpgp
[submodule "OutlookSyncClient"]
	path = modules/OutlookSyncClient
	url = https://github.com/afterlogic/aurora-module-webclient-outlook-sync
[submodule "PhoneClient"]
	path = modules/PhoneClient
	url = https://github.com/afterlogic/aurora-module-webclient-phone
[submodule "SessionTimeoutClient"]
	path = modules/SessionTimeoutClient
	url = https://github.com/afterlogic/aurora-module-webclient-session-timeout
[submodule "SettingsClient"]
	path = modules/SettingsClient
	url = https://github.com/afterlogic/aurora-module-webclient-settings
[submodule "SimpleChatEmojiClientPlugin"]
	path = modules/SimpleChatEmojiClientPlugin
	url = https://github.com/afterlogic/aurora-module-webclient-simple-chat-emoji-plugin
[submodule "SimpleChatLoggerPlugin"]
	path = modules/SimpleChatLoggerPlugin
	url = https://github.com/afterlogic/aurora-module-simple-chat-logger-plugin
[submodule "Twilio"]
	path = modules/Twilio
	url = https://github.com/afterlogic/aurora-module-twilio
[submodule "SimpleChatClient"]
	path = modules/SimpleChatClient
	url = https://github.com/afterlogic/aurora-module-webclient-simple-chat
[submodule "SimpleChat"]
	path = modules/SimpleChat
	url = https://github.com/afterlogic/aurora-module-simple-chat
