@theme-tabs-height: 70px;
@theme-common-link-color: #4477BB;
@theme-common-link-hover-color: #c74747;

@theme-use-text-fade: true;

.theme-main-background() {
	background: #ece9e0;
}

@theme-buttons-primary-background: #81C54B;
@theme-buttons-secondary-background: #A7AFB9;

@theme-toolbar-height: 55px;
@theme-toolbar-background: #fbfbf9;
@theme-toolbar-border: none;
@theme-toolbar-border-radius: 4px 4px 0 0;
@theme-toolbar-hint-background: #78b8f0;
@theme-toolbar-hint-color: #ffffff;
@theme-toolbar-icon-color: #78b8f0;
@theme-toolbar-icon-shadow: none;

//*=== Clear Panel CSS ===*/
.theme-clear-panel-toolbar() {
	.content {
		padding-bottom: 10px;
		padding-top: 10px;

		.item {
			.gradient(lighten(#81C653, 5%), #81C653, lighten(#81C653, 5%));
			
			border-color: darken(#81C653, 5%);
			box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
			padding-bottom: 5px;
			padding-top: 5px;
			font-size: 13pt;
			font-weight: normal;

			&.enable:hover {
				.gradient(#81C653, darken(#81C653, 5%), #81C653);
				
				box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
				color: #ffffff;
			}
		}
	}
}

.theme-clear-panel-list-item() {
	&.canNotSelect .collapse_handler {
		color: #777777;
		cursor: pointer
	}
}

.theme-clear-panel-list-item-count() {
	background: #327cc2;
	box-shadow: 0px 1px 1px #2965b7 inset, 0px 1px 0px rgba(255,255,255,0.3);
}

.theme-clear-panel-list-item-count-hover() {
	background: #2965b7;
}

.theme-clear-panel-list-item-unseen-count-hover() {
	background: #d9d6ce;
}
//*=== END Clear Panel CSS ===*/
//*=== Common Items List CSS ===*/
@theme-list-item-bg: #ffffff;
@theme-list-selected-item-bg: #78B8F0;
@theme-list-selected-item-color: #ffffff;
@theme-list-checked-item-bg: #EBF7CB;
@theme-list-unseen-item-bg: #F4F6F7;

.theme-list-item() {
	.subject {
		font-size: 13pt !important;
	}
}
//*=== END Common Items List CSS ===*/
//*=== Group Style Items List CSS ===*/
@theme-group-style-item-bg: #ECE9E0;
@theme-group-style-selected-item-bg-color: #95bada;
@theme-group-style-selected-item-bg: #95bada;

.theme-group-style-selected-item() {
	text-shadow: 0px 1px 0px #678197;
}
//*=== END Group Style Items List CSS ===*/
//*=== Calendar screen CSS ===*/
@theme-smallCalendarHeight: 229px;

.theme-small-calendar() {
	@currentPeriodBgColor: #d3d1ca;
	@todayBgColor: #fff4cf;
}

.theme-messages-list-item() {
	@tcBackground: #fff;
	@tcTextColor: #a0a0a0;
	@tcBorder: 1px solid #a0a0a0;
	
	@tcSelectedBackground: @theme-list-selected-item-bg;
	@tcSelectedTextColor: #fff;
	@tcSelectedBorder: 1px solid #fff;
	
	@tcUnreadBackground: #a0a0a0;
	@tcUnreadTextColor: #fff;
	@tcUnreadBorder: 1px solid #a0a0a0;
	
	@tcUnreadSelectedBackground: #fff;
	@tcUnreadSelectedTextColor: @theme-list-selected-item-bg;
	@tcUnreadSelectedBorder: @tcSelectedBorder;
}

.theme-login-panel() {
	@focusedBackground: #FFF3CE;
	
	.theme-header () {
		.icon {
			height: 95px;
			width: 130px;
			
			.iconFontInit();
			&:before {
				content: "\e63c";
				display: inline-block;
				vertical-align: middle;
				font-size: 140px;
				height: 100%;
				width: 100%;
				margin-top: -20px;
				color: #D7D3C8;
				text-shadow: 0 1px 0 #FFFFFF, 0 -1px 0 #B4AFA0, -1px -1px #D2C6A5;
			}
		}
	}
}

.ui-widget-content a:hover {
  color: inherit
}
