<div class="screen ContactsLayout" style="display: none;">
	<div class="panels" data-bind="splitter: {name: 'groups', sizeLeft: 200, minLeft: 20, minRight: 40, resizeToWidth: true}">
		<div class="panel groups" data-splitter="groups">
			<div class="resize_handler"></div>
			<div class="panel_content">
				<div class="toolbar">
					<span class="content">
						<!-- ko if: !mobileApp -->
						<span class="item" data-i18n="CONTACTS/TOOL_NEW_CONTACT" id="selenium_contacts_new_button"
							  data-bind="i18n: 'text', command: newContactCommand, css: {'disabled': !allowCreateContact()}"></span>
						<!-- /ko -->
						<!-- ko if: mobileApp -->
						<span class="item new_group" data-bind="visible: showPersonalContacts, command: newGroupCommand">
							<span class="icon"></span>
							<span class="text" data-bind="i18n: 'text'" data-i18n="CONTACTS/TOOL_NEW_GROUP"></span>
						</span>
						<!-- /ko -->
					</span>
				</div>
				<div class="middle_bar">
					<!-- ko template: { name: 'Contacts_GroupsPart', data: $data} --><!-- /ko -->
				</div>
			</div>
		</div>
		<div class="panel_helper" data-bind="splitter: {name: 'contacts', sizeLeft: 450, minLeft: (showSharedToAllContacts() ? 418 : 368), minRight: 10}">
			<div class="panel contacts">
				<div class="resize_handler"></div>
				<div class="panel_content">
					<div class="toolbar" data-bind="template: { name: 'Contacts_ToolbarPart'}"></div>
					<div class="middle_bar" data-bind="template: {name: 'Contacts_ContactsPart'}"></div>
				</div>
			</div>
			<div class="panel item_viewer contact_viewer">
				<div class="panel_content">
					<div class="middle_bar contact" data-bind="visible: selectedContact() && !selectedContact().edited(), with: selectedContact">
						<!-- ko template: { name: 'Contacts_ViewContactPart', data: $data} --><!-- /ko -->
					</div>

					<div class="middle_bar edit_contact" data-bind="visible: selectedContact() && selectedContact().edited(), with: selectedContact" id="selenium_contacts_edit_form">
						<!-- ko template: { name: 'Contacts_EditContactPart', data: $data } --><!-- /ko -->
					</div>

					<div class="middle_bar group" data-bind="visible: selectedGroup() && !selectedGroup().edited(), with: selectedGroup">
						<!-- ko template: { name: 'Contacts_ViewGroupPart', data: $data } --><!-- /ko -->
					</div>

					<div class="middle_bar edit_group" data-bind="visible: selectedGroup() && selectedGroup().edited(), with: selectedGroup" id="selenium_contacts_edit_group_form">
						<!-- ko template: { name: 'Contacts_EditGroupPart', data: $data } --><!-- /ko -->
					</div>

					<div class="middle_bar import" data-bind="visible: oImportView.visibility()">
						<!-- ko template: { name: oImportView.ViewTemplate, data: oImportView } --><!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>