<span class="item helpdesk">
	<span class="helper" data-bind="i18n: {'key': 'HELPDESK/HEADING_WELCOME'}"></span>
	<a class="text" href="#" data-bind="attr: {href: sThreadsHash}, i18n: {'key': 'HELPDESK/HEADING_WELCOME'}"></a>
</span>
<span class="item logout">
	<a class="text" href="#" data-bind="click: logout, i18n: {'key': 'CORE/ACTION_LOGOUT'}"></a>
</span>
<span class="item settings">
	<a class="text" href="#" data-bind="attr: {href: '#' + settingsHash()}, i18n: {'key': 'CORE/HEADING_SETTINGS_TABNAME'}"></a>
</span>
