<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': 'HELPDESK/HEADING_SETTINGS_TAB'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="value">
					<label class="custom_checkbox" data-bind="css: {'checked': allowNotifications}">
						<span class="icon"></span>
						<input type="checkbox" id="allowNotifications" data-bind="checked: allowNotifications" />
					</label>
					<label for="allowNotifications" data-bind="i18n: {'key': 'HELPDESK/LABEL_RECEIVE_NOTIFICATIONS'}"></label>
				</span>
			</div>
			<div class="row hint">
				<span data-bind="i18n: {'key': 'HELPDESK/INFO_RECEIVE_NOTIFICATIONS'}"></span>
			</div>

			<div class="signature">
				<div class="row">
					<div>
						<label class="custom_radio" data-bind="css: {'checked': signatureEnable() === '0'}">
							<span class="icon"></span>
							<input type="radio" value="0" id="helpdesk_no_signature" data-bind="checked: signatureEnable" />
						</label>
						<label for="helpdesk_no_signature" data-bind="i18n: {'key': 'CORE/LABEL_NO_SIGNATURE'}"></label>
					</div>
				</div>
				<div class="row editor_row">
					<label class="custom_radio" data-bind="css: {'checked': signatureEnable() === '1'}">
						<span class="icon"></span>
						<input type="radio" id="helpdesk_signature" value="1" data-bind="checked: signatureEnable" />
					</label>

					<div class="editor">
						<textarea class="input" data-bind="value: signature, disable: !signatureEnable(), hasFocus: signatureFocused"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="buttons">
			<span class="button" data-bind="click: save">
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, visible: !isSaving()"></span>
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
			</span>
		</div>
	</div>
</div>
