<div class="panel_top">
	<a class="link cancel" data-bind="click: cancelNewThread, i18n: {'key': 'CORE/ACTION_CANCEL'}"></a>
	<div class="thread_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_CREATE_REQUEST'}"></div>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="row" data-bind="css: { 'filled': newThreadText().length > 0 }">
			<label class="placeholder" data-bind="i18n: {'key': '%MODULENAME%/LABEL_YOUR_REQUEST'}"></label>
			<span class="value">
				<textarea class="input" data-bind="value: newThreadText, valueUpdate: 'afterkeydown', attr: {'disabled': newThreadCreating}, initDom: domNewThreadTextarea, hasfocus: newThreadTextFocus"></textarea>
			</span>
		</div>
		
		<div class="row data attachments upload" data-bind="visible: uploadedFiles().length > 0">
			<!-- ko template: {name: 'CoreClient_FileView', foreach: uploadedFiles} --><!-- /ko -->
		</div>

		<table class="row data ccbcc" data-bind="visible: ccbccVisible()">
			<tbody>
			<tr>
				<td class="label">
					<span data-bind="i18n: {'key': 'CORE/LABEL_CC'}"></span>
				</td>
				<td>
					<div class="input inputosaurus">
						<div data-bind="customScrollbar: {x: false}">
							<div class="scroll-inner">
								<input id="helpdesk_cc" type="text" spellcheck="false" tabindex="2" data-bind="initDom: ccAddrDom" />
							</div>
						</div>
					</div>
				</td>
				<td class="label">
					<span data-bind="i18n: {'key': 'CORE/LABEL_BCC'}"></span>
				</td>
				<td>
					<div class="input inputosaurus">
						<div data-bind="customScrollbar: {x: false}">
							<div class="scroll-inner">
								<input id="helpdesk_bcc" type="text" spellcheck="false" tabindex="3" data-bind="initDom: bccAddrDom" />
							</div>
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		
		<div class="buttons">
			<span class="button upload" data-bind="visible: uploadedFiles().length < 5, initDom: uploaderButtonCompose, css: {'dragOver': bDragActive}">
				<span class="icon"></span>
				<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_ADD_ATTACHMENT'}"></span>
			</span>
			<span class="button ccbcc" data-bind="visible: !ccbccVisible(), click: changeCcbccVisibility" >
				<span class="icon"></span>
				<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_ADD_CCBCC'}"></span>
			</span>
			<button class="button create" data-bind="command: createThreadCommand, text: createThreadButtonText"></button>
		</div>
	</div>
</div>
