<div class="popup files_create_link" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>

		<div class="large attachments" data-bind="visible: urlChecked()" style="text-align: center;">
			<!-- ko if: fileItem -->
				<!-- ko template: {name: 'Core_FileView', data: fileItem} --><!-- /ko -->
			<!-- /ko -->
		</div>

		<div class="fields">
			<div class="fieldset">
				<div class="row">
					<span class="label" data-bind="i18n: {'key': 'FILES/LABEL_EXTERNAL_DOC_URL'}"></span>
					<input class="value input" spellcheck="false" type="text" maxlength="200" data-bind="valueUpdate: 'afterkeydown', hasfocus: linkFocus, value: link" />
				</div>
				<div class="hint row">
					<span class="info" data-bind="i18n: {'key': 'FILES/INFO_UPLOAD_FILE_AS_LINK'}"></span>
				</div>
			</div>

			<div class="buttons">
				<span class="button save" data-bind="css: {'disabled': !urlChecked()}, i18n: {'key': 'FILES/ACTION_ADD_SHORTCUT'}, command: saveCommand"></span>
				<span class="button cancel secondary" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
