<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>

		<div class="fields">
			<div class="fieldset">
				<div class="row">
					<span class="label" data-bind="i18n: {'key': 'FILES/HEADING_NEW_FOLDER'}"></span>
					<input class="value input" spellcheck="false" type="text" maxlength="200"
						data-bind="hasfocus: folderName.focus, valueUpdate: 'afterkeydown', value: folderName, onEnter: onOKClick, css: {'error': '' !== folderName.error()}" />
					<div style="color:red;margin-top:10px;margin-left:150px" data-bind="visible: '' !== folderName.error(), text: folderName.error"></div>
				</div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, click: onOKClick"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
