<div class="screen FileStorageLayout no-public" style="display: none;">
	<div class="panels" data-bind="splitter: {name: 'file_storages', sizeLeft: 200, minLeft: 20, minRight: 572, resizeToWidth: true}">
		<div class="panel left_panel storages_panel">
			<div class="resize_handler"></div>
			<div class="panel_content">
				<div class="buttons big_single_button">
					<span class="button" data-bind="initDom: uploaderButton"> 
						<span data-bind="i18n: {'key': '%ModuleName%/ACTION_UPLOAD_FILES'}"></span> 
					</span>
				</div>
				<div class="middle_bar" data-bind="">
					<!-- ko template: { name: 'Files_StoragesPanelView'} --><!-- /ko -->
					<div class="panel_bottom">
						<span class="volumer" data-bind="visible: -1 < quotaProc()">
							<span class="volumer_conteiner" data-bind="customTooltip: quotaDesc()">
								<span class="used" data-bind="style: {'width': '' + (-1 < quotaProc() ? quotaProc() : 0) + '%' }"></span>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel files">
			<div class="panel_content">
				<div class="toolbar" data-bind="template: { name: 'Files_ToolbarView'}"></div>
				<div class="middle_bar" data-bind="template: {name: 'Files_FilesPanelView'}"></div>
			</div>
		</div>
	</div>
</div>
