<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%ModuleName%/HEADING_SETTINGS_TAB'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<h2 class="subheading" data-bind="i18n: {'key': '%ModuleName%/HEADING_FILES'}"></h2>
			<div class="row"> 
				<div> 
					<label class="custom_checkbox" data-bind="css: {'checked': enableFiles}"> 
						<span class="icon"></span> 
						<input type="checkbox" id="enableFiles" data-bind="checked: enableFiles"> 
					</label> 
					<label for="enableFiles" data-bind="i18n: {'key': '%ModuleName%/LABEL_ENABLE_FILES'}"></label> 
				</div> 
			</div>			
			<div class="hint" data-bind="i18n: {'key': '%ModuleName%/INFO_FILES'}"></div>
		</div>		
		
		<div class="buttons">
			<span class="button" data-bind="click: save">
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, visible: !isSaving()"></span>
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
			</span>
		</div>
	</div>
</div>
