<div class="fieldset">
	<h2 class="subheading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_DAV_ACCESS'}"></h2>
	<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/INFO_DAV_ACCESS'}"></div>

	<div class="fieldgroup">
		<div class="row">
			<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_FILES'}"></span>
			<span class="value" data-bind="text: davServer() + '/files'"></span>
		</div>
	</div>
	<div class="hint" data-bind="text: credentialsHintText"></div>
	<div class="hint" data-bind="i18n: {'key': 'CORE/INFO_DEMO_MOBILE_CREDENTIALS_HTML', 'type': 'html'}, visible: bDemo"></div>
</div>
