<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>

		<div class="fields">
			<div class="fieldset">
				<div class="row">
					<span class="label" data-bind="i18n: {'key': 'CORE/LABEL_NAME'}"></span>
					<input class="value input" spellcheck="false" type="text" maxlength="200"
						data-bind="hasfocus: focused, valueUpdate: 'afterkeydown', value: name, onEnter: onOKClick, css: {'error': '' !== error()}" />
					<div style="color:red;margin-top:10px;margin-left:150px" data-bind="visible: '' !== error(), text: error"></div>
				</div>
			</div>

			<div class="buttons">
				<span class="button save" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, click: onOKClick"></span>
				<span class="button cancel secondary" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
