<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>

		<div class="fields">
			<div class="fieldset">
				<div class="row">
					<span class="label" data-bind="i18n: {'key': 'FILES/PUBLIC_LINK'}"></span>
					<input readonly="readonly" spellcheck="false" class="value input" type="text" maxlength="255" data-bind="hasfocus: pubFocus, value: pub, click: function () {$element.select();}, onEnter: onOKClick" />
				</div>
			</div>

			<div class="buttons">
				<span class="button remove" data-bind="i18n: {'key': 'FILES/BUTTON_CANCEL_SHARING'}, click: onCancelSharingClick"></span>
				<span class="button cancel secondary" data-bind="i18n: {'key': 'CORE/BUTTON_CLOSE'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
