<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>

		<div class="fields">
			<div class="fieldset">
				<div class="row" data-bind="visible: hasOldPassword">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_CURRENT_PASSWORD'}"></span>
					<input class="value input" type="password" spellcheck="false" maxlength="255" data-bind="value: currentPassword" />
				</div>

				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_NEW_PASSWORD'}"></span>
					<input class="value input" type="password" spellcheck="false" maxlength="255" data-bind="value: newPassword" />
				</div>

				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_CONFIRM_NEW_PASSWORD'}"></span>
					<input class="value input" type="password" spellcheck="false" maxlength="255" data-bind="value: confirmPassword" />
				</div>
			</div>

			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, click: change"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
