<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="i18n: {'key': 'OPENPGP/HEADING_SIGN_ENCRYPT'}"></span>

		<div class="fields">
			<div class="row">
				<div style="white-space: nowrap;">
					<label data-bind="css: {'checked': sign}" class="custom_checkbox checked">
						<span class="icon"></span>
						<input type="checkbox" data-bind="checked: sign" id="openpgp-sign" />
					</label>
					<label data-bind="i18n: {'key': 'OPENPGP/LABEL_SIGN'}" for="openpgp-sign"></label>
					<span style="width: 100px;" class="label pgp_password" data-bind="i18n: {'key': 'CORE/LABEL_PASSWORD'}"></span>
					<input style="width: 200px;" type="password" class="value input" data-bind="value: password, hasfocus: passwordFocused" />
				</div>
			</div>
			<div class="row">
				<div>
					<label data-bind="css: {'checked': encrypt}" class="custom_checkbox checked">
						<span class="icon"></span>
						<input type="checkbox" data-bind="checked: encrypt" id="openpgp-encrypt" />
					</label>
					<label data-bind="i18n: {'key': 'OPENPGP/LABEL_ENCRYPT'}" for="openpgp-encrypt"></label>
				</div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="text: signEncryptButtonText, command: signEncryptCommand, visible: isEnableSignEncrypt"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
