<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="title" data-bind="i18n: {'key': 'OPENPGP/POPUP_TITLE_IMPORT_KEY'}"></span>

		<div class="fields">
			<div class="row" data-bind="visible: keys().length === 0">
				<textarea class="input import_pgp_key_area" data-bind="value: keyArmor, hasfocus: keyArmorFocused"></textarea>
			</div>
			<div class="row import_pgp_key_area" data-bind="visible: keys().length > 0">
				<div class="headline" data-bind="text: headlineText"></div>
				<div data-bind="foreach: keys">
					<div class="key_item" data-bind="css: {'disabled': disabled}">
						<label data-bind="css: {'checked': needToImport, 'disabled': disabled}" class="custom_checkbox checked">
							<span class="icon"></span>
							<input type="checkbox" data-bind="checked: needToImport, attr: {'id': 'need_to_import_' + id}, disable: disabled">
						</label>
						<label data-bind="attr: {'for': 'need_to_import_' + id}">
							<span class="key_email" data-bind="text: email"></span>
							<span data-bind="text: addInfo"></span>
						</label>
					</div>
				</div>
				<div class="hint" data-bind="i18n: {'key': 'OPENPGP/HINT_EXISTING_KEYS_GREYED'}, visible: hasExistingKeys"></div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': 'OPENPGP/BUTTON_CHECK'}, click: checkArmor, visible: keys().length === 0"></span>
				<span class="button" data-bind="i18n: {'key': 'OPENPGP/BUTTON_IMPORT'}, click: importKey, visible: keys().length > 0"></span>
				<span class="button" data-bind="i18n: {'key': 'CORE/BUTTON_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
