<div class="notice" data-bind="visible: visibleDecryptControl">
	<span data-bind="i18n: {'key': '%MODULENAME%/INFO_ENCRYPTED_MESSAGE'}"></span>
	<span data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENTER_YOUR_PASSWORD'}"></span>
	<input type="password" data-bind="value: decryptPassword, onEnter: onDecryptMessageClick" />
	<span class="link" data-bind="i18n: {'key': '%MODULENAME%/ACTION_DECRYPT'}, click: decryptMessage"></span>
</div>

<div class="notice" data-bind="visible: visibleVerifyControl">
	<span data-bind="i18n: {'key': '%MODULENAME%/INFO_SIGNED_MESSAGE'}"></span>
	<span class="link" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY'}, click: verifyMessage"></span>
</div>
