<div class="panel_top">
	<h2 class="title" data-bind="i18n: {'key': 'OPENPGP/HEADING_SETTINGS_TAB'}"></h2>
</div>

<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="value offset">
					<label class="custom_checkbox" data-bind="css: {'checked': enableOpenPgp}">
						<span class="icon"></span>
						<input type="checkbox" id="enableOpenPgp" data-bind="checked: enableOpenPgp" />
					</label>
					<label for="enableOpenPgp" data-bind="i18n: {'key': 'OPENPGP/LABEL_ENABLE_OPENPGP'}"></label>
				</span>
			</div>
			<div class="row" data-bind="visible: bAllowAutoSave">
				<span class="value offset">
					<label class="custom_checkbox" data-bind="css: {'checked': allowAutosaveInDrafts}">
						<span class="icon"></span>
						<input type="checkbox" id="allowAutosaveInDrafts" data-bind="checked: allowAutosaveInDrafts" />
					</label>
					<label for="allowAutosaveInDrafts" data-bind="i18n: {'key': 'OPENPGP/LABEL_ALLOW_AUTOSAVE'}"></label>
				</span>
			</div>
			<div class="hint row" data-bind="visible: bAllowAutoSave">
				<span class="value offset" data-bind="i18n: {'key': 'OPENPGP/INFO_ALLOW_AUTOSAVE'}"></span>
			</div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save">
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, visible: !isSaving()"></span>
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
			</span>
		</div>
			
		<div class="fieldset" data-bind="visible: enableOpenPgp">
			<div class="row keys_label">
				<span class="label" data-bind="i18n: {'key': 'OPENPGP/LABEL_PUBLIC_KEYS'}"></span>
				<span class="value" data-bind="i18n: {'key': 'OPENPGP/INFO_EMPTY_PUBLIC_KEYS'}, visible: publicKeys().length === 0"></span>
			</div>
			<div class="row folders items_list" data-bind="foreach: publicKeys">
				<div class="item">
					<span class="title">
						<span class="controls">
							<span class="button subscribe subscribed" data-bind="customTooltip: 'OPENPGP/ACTION_VIEW_KEY', click: function () { $parent.showArmor(key); }"></span>
							<span class="button delete" data-bind="customTooltip: 'OPENPGP/ACTION_DELETE_KEY', click: function () { $parent.removeOpenPgpKey(key); }"></span>
						</span>
						<span class="name">
							<span class="text" data-bind="text: user"></span>
						</span>
					</span>
				</div>
			</div>
			<div class="row keys_label">
				<span class="label" data-bind="i18n: {'key': 'OPENPGP/LABEL_PRIVATE_KEYS'}"></span>
				<span class="value" data-bind="i18n: {'key': 'OPENPGP/INFO_EMPTY_PRIVATE_KEYS'}, visible: privateKeys().length === 0"></span>
			</div>
			<div class="row folders items_list" data-bind="foreach: privateKeys">
				<div class="item">
					<span class="title">
						<span class="controls">
							<span class="button subscribe subscribed" data-bind="customTooltip: 'OPENPGP/ACTION_VIEW_KEY', click: function () { $parent.showArmor(key); }"></span>
							<span class="button delete" data-bind="customTooltip: 'OPENPGP/ACTION_DELETE_KEY', click: function () { $parent.removeOpenPgpKey(key); }"></span>
						</span>
						<span class="name">
							<span class="text" data-bind="text: user"></span>
						</span>
					</span>
				</div>
			</div>
		</div>
		<div class="buttons" data-bind="visible: enableOpenPgp">
			<span data-bind="click: importKey" class="button">
				<span data-bind="i18n: {'key': 'OPENPGP/ACTION_IMPORT_KEY'}"></span>
			</span>
			<span data-bind="click: generateNewKey" class="button">
				<span data-bind="i18n: {'key': 'OPENPGP/ACTION_GENERATE_NEW_KEY'}"></span>
			</span>
		</div>
	</div>
</div>
