<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': 'CONTACTS/ACTION_SHOW_CONTACTS'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'CONTACTS/LABEL_CONTACTS_PER_PAGE'}"></span>
				<select class="value input" data-bind="options: contactsPerPageValues, value: contactsPerPage"></select>
			</div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save">
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, visible: !isSaving()"></span>
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
			</span>
		</div>
	</div>
</div>
