<div class="panel_top">
	<h2 class="contacts_heading" data-bind="visible: isNew(), i18n: {'key': 'CONTACTS/HEADING_NEW_GROUP'}"></h2>
	<h2 class="contacts_heading" data-bind="visible: !isNew(), i18n: {'key': 'CONTACTS/HEADING_EDIT_GROUP'}"></h2>
</div>
<div class="decor"></div>
<div class="panel_center" data-bind="customScrollbar: {}">
	<div class="contact_content scroll-inner">
		<div class="contact_data_groups edit">
			<div class="fields clearfix">
				<div class="row">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_GROUP_NAME'}"></span>:
					</span>
					<input class="value input" type="text" id="selenium_contacts_edit_group_name"
						   data-bind="hasfocus: nameFocused, value: name, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row"> 
					<span class="value offset"> 
						<label class="custom_checkbox" data-bind="css: {'checked': isOrganization}"> 
							<span class="icon"></span> 
							<input type="checkbox" id="selenium_contacts_edit_group_is_organization" data-bind="checked: isOrganization">
						</label>
						<label for="selenium_contacts_edit_group_is_organization" data-bind="i18n: {'key': 'CONTACTS/LABEL_GROUP_IS_COMPANY'}"></label>
					</span>
				</div>				
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CORE/LABEL_EMAIL'}"></span>:
					</span>
					<input class="value input" type="text" id="selenium_contacts_edit_group_email"
						   data-bind="value: email, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_COMPANY'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: company, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_COUNTRY'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: country, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_STATE'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: state, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_CITY'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: city, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_STREET'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: street, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_ZIP'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: zip, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_PHONE'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: phone, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_FAX'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: fax, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isOrganization">
					<span class="label">
						<span data-bind="i18n: {'key': 'CONTACTS/LABEL_WEB'}"></span>:
					</span>
					<input class="value input" type="text" data-bind="value: web, valueUpdate: 'afterkeydown', onEnter: $root.saveCommand" />
				</div>
				<div class="row" data-bind="visible: isNew() && '' !== newContactsInGroupHint()">
					<span data-bind="text: newContactsInGroupHint"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel_bottom">
	<div class="buttons">
		<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, command: $root.saveCommand" id="selenium_contacts_edit_group_save_button"></span>
		<span class="button secondary_button" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: function () { $root.executeCancel(); }"></span>
	</div>
</div>
