<div class="panel_top">
	<h2 class="title" data-bind="i18n: {'key': 'CONTACTS/LABEL_IMPORT_CONTACTS'}"></h2>
</div>
<div class="decor"></div>
<div class="panel_center">
	<div class="contact_content">
		<div class="contact_data_groups">
			<div class="fields clearfix">
				<div class="hint">
					<span data-bind="i18n: {'key': 'CONTACTS/IMPORT_DESC'}"></span>
				</div>
				<div class="row">
					<span data-bind="visible: importing, i18n: {'key': 'CORE/BUTTON_IMPORTING'}"></span>
					<div class="buttons" data-bind="visible: !importing()">
						<span class="button import" data-bind="i18n: {'key': 'CORE/BUTTON_IMPORT'}, initDom: importButtonDom"></span>
					</div>
				</div>
				<div class="row" data-bind="visible: '' !== $root.sImportContactsLink">
					<a class="link" href="#" target="_blank" data-bind="attr: {href: $root.sImportContactsLink}">
						<span data-bind="i18n: {'key': 'CONTACTS/LINK_LEARN_MORE'}"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel_bottom" data-bind="visible: bVisibleCloseButton">
	<div class="toolbar">
		<span class="content">
			<span class="item close" href="javascript: void(0)" data-bind="click: function () {$root.gotoContactList();}">
				<span class="icon"></span>
				<span class="text" data-bind="i18n: {'key': 'CORE/BUTTON_CLOSE'}"></span>
			</span>
		</span>
	</div>
</div>
