<div class="appointment" data-bind="visible: !!vcard(), with: vcard">
	<div class="fields">
		<div class="row">
			<span class="label" data-bind="i18n: {'key': 'CORE/LABEL_NAME'}"></span>:
			<span data-bind="text: name"></span>
		</div>
		<div class="row">
			<span class="label" data-bind="i18n: {'key': 'CORE/LABEL_EMAIL'}"></span>:
			<span data-bind="text: email"></span>
		</div>
		<div class="row">
			<div class="buttons" data-bind="visible: !exists()">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_ADD_VCARD'}, click: addContact"></span>
			</div>
			<span data-bind="visible: exists">
				<span data-bind="i18n: {'key': '%MODULENAME%/REPORT_CONTACT_ADDED'}, visible: isJustSaved"></span>
				<span data-bind="i18n: {'key': '%MODULENAME%/REPORT_CONTACT_EXISTS'}, visible: !isJustSaved()"></span>
			</span>
		</div>
	</div>
</div>
