<div class="appointment" data-bind="visible: !!vcard(), with: vcard">
	<div class="fields">
		<div class="row">
			<span class="label" data-i18n="CONTACTS/VCARD_NAME" data-bind="i18n: 'text'"></span>:
			<span data-bind="text: name"></span>
		</div>
		<div class="row">
			<span class="label" data-i18n="CORE/LABEL_EMAIL" data-bind="i18n: 'text'"></span>:
			<span data-bind="text: email"></span>
		</div>
		<div class="row">
			<div class="buttons" data-bind="visible: !exists()">
				<span class="button" data-i18n="CONTACTS/VCARD_BUTTON_ADD" data-bind="i18n: 'text', click: addContact"></span>
			</div>
			<span data-bind="visible: exists">
				<span data-i18n="CONTACTS/VCARD_INFO_ADDED" data-bind="i18n: 'text', visible: isJustSaved"></span>
				<span data-i18n="CONTACTS/VCARD_INFO_EXISTS" data-bind="i18n: 'text', visible: !isJustSaved()"></span>
			</span>
		</div>
	</div>
</div>
