<div class="popup phone_popup" style="display: none;">
	<div class="mask"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>

		<div class="fields">
			<div class="row" data-bind="visible: action() === Enums.PhoneAction.Settings">
				<span class="title" data-bind="i18n: {'key': 'PHONE/HEADING_ACCESS_TO_MICROPHONE'}"></span>
				<div id="fake_flash" style="margin-bottom: 10px"></div>
				<span class="hint" data-bind="i18n: {'key': 'PHONE/INFO_ACCESS_TO_MICROPHONE'}"></span>
			</div>
			<div class="row" data-bind="visible: action() === Enums.PhoneAction.Incoming">
				<span class="text call_report" data-bind="text: report"></span>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_OK'}, visible: action() === Enums.PhoneAction.Settings, click: onOKClick"></span>
				<span class="button answer" data-bind="i18n: {'key': 'PHONE/ACTION_ANSWER'}, visible: action() === Enums.PhoneAction.Incoming, click: answer"></span>
				<span class="button hangup" data-bind="i18n: {'key': 'PHONE/ACTION_END_CALL'}, visible: action() === Enums.PhoneAction.Incoming, click: hangup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
