<div class="fields">
	<div class="fieldset">
		<div class="row allow_sending">
			<div>
				<label class="custom_checkbox" data-bind="css: {'checked': isOutgoingEnabled}">
					<span class="icon"></span>
					<input type="checkbox" id="sending_from_this_account" data-bind="checked: isOutgoingEnabled, enable: isEnabled" />
				</label>
				<label for="sending_from_this_account" data-bind="i18n: {'key': '%MODULENAME%/LABEL_FETCHER_ALLOW_SENDING'}"></label>
			</div>
		</div>
		<div class="row outgoing">
			<!-- ko template: {name: '%ModuleName%_Settings_ServerPropertiesView', data: oOutgoing} --><!-- /ko -->
		</div>

		<div class="row smtp_authentication">
			<div>
				<label class="custom_checkbox" data-bind="css: {'checked': outgoingMailAuth}">
					<span class="icon"></span>
					<input type="checkbox" id="use_smtp_authentication" data-bind="checked: outgoingMailAuth, enable: isEnabled" />
				</label>
				<label for="use_smtp_authentication" data-bind="i18n: {'key': '%MODULENAME%/LABEL_USE_SMTP_AUTHENTICATION'}"></label>
			</div>
		</div>

		<div class="row hint">
			<span data-bind="i18n: {'key': '%MODULENAME%/INFO_FETCHER_ON_COMPOSE'}"></span>
		</div>

		<div class="row name">
			<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_YOUR_NAME'}, css: {'disabled': !outgoingMailAuth()}"></span>
			<input class="value input" spellcheck="false" type="text" maxlength="65" data-bind="value: userName, onEnter: save, enable: outgoingMailAuth, css: {'disabled': !outgoingMailAuth()}"/>
		</div>

		<div class="row email">
			<span class="label required" data-bind="i18n: {'key': 'CORE/LABEL_EMAIL'}, css: {'disabled': !outgoingMailAuth()}"></span>
			<input class="value input" spellcheck="false" type="text" maxlength="65" data-bind="value: email, hasfocus: focusEmail, onEnter: save, enable: outgoingMailAuth, css: {'disabled': !outgoingMailAuth()}"/>
		</div>
	</div>

	<div class="buttons">
		<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, click: save, visible: !isSaving()"></span>
		<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, click: save, visible: isSaving()"></span>
	</div>
</div>
