<div class="popup folders_setup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETUP_SPECIAL_FOLDERS'}"></span>

		<div class="fields">
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/INFO_IMAGE_DRAGNDROP'}"></div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_FOLDER_SENT'}"></span>
				<select class="value input" data-bind="value: sentFolderFullName, options: options,
					optionsText: 'displayName', optionsValue: 'fullName', optionsAfterRender: defaultOptionsAfterRender">
				</select>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_FOLDER_DRAFTS'}"></span>
				<select class="value input" data-bind="value: draftsFolderFullName, options: options,
					optionsText: 'displayName', optionsValue: 'fullName', optionsAfterRender: defaultOptionsAfterRender">
				</select>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_FOLDER_TRASH'}"></span>
				<select class="value input" data-bind="value: trashFolderFullName, options: options,
					optionsText: 'displayName', optionsValue: 'fullName', optionsAfterRender: defaultOptionsAfterRender">
				</select>
			</div>
			<div class="row" data-bind="visible: allowSpamFolderEditing">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_FOLDER_SPAM'}"></span>
				<select class="value input" data-bind="value: spamFolderFullName, options: options,
					optionsText: 'displayName', optionsValue: 'fullName', optionsAfterRender: defaultOptionsAfterRender">
				</select>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_OK'}, click: apply"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
