<div class="toolbar">
	<span class="content">
		<span class="item checkstate command" data-bind="click: reload, checkstate: {'activeClass': 'process', 'state': preLoadingList(), 'duration': 800}">
			<span class="icon"></span>
		</span>
		<span class="item new_group" data-bind="visible: showPersonalContacts() &&
			selectedGroupType() !== Enums.ContactsGroupListType.Global &&
			selectedGroupType() !== Enums.ContactsGroupListType.SharedToAll,
			command: newGroupCommand, customTooltip: '%ModuleName%/ACTION_NEW_GROUP'" id="selenium_contacts_new_group_button">
			<span class="icon"></span>
			<span class="text" data-bind="i18n: {'key': '%ModuleName%/ACTION_NEW_GROUP'}"></span>
		</span>

		<!-- ko template: {name: 'Contacts_Toolbar_ContactsCommonPartView'} --><!-- /ko -->

		<span class="item share-all" data-bind="visible: visibleShareCommand, command: shareCommand, customTooltip: '%ModuleName%/ACTION_SHARE'">
			<span class="icon"></span>
			<span class="text" data-bind="i18n: {'key': '%ModuleName%/ACTION_SHARE'}"></span>
		</span>
		<span class="item unshare-all" data-bind="visible: visibleUnshareCommand, command: shareCommand, customTooltip: '%ModuleName%/ACTION_UNSHARE'">
			<span class="icon"></span>
			<span class="text" data-bind="i18n: {'key': '%ModuleName%/ACTION_UNSHARE'}"></span>
		</span>

		<span class="item control" data-bind="visible: showPersonalContacts() && selectedGroupType() === Enums.ContactsGroupListType.Personal, dropdown: {control: false}">
			<span class="icon arrow"></span>
			<span class="dropdown">
				<span class="dropdown_helper">
					<span class="dropdown_arrow"><span></span></span>
					<span class="dropdown_content">
						<span class="item export" data-bind="i18n: {'key': '%ModuleName%/ACTION_EXPORT_CSV'}, command: exportCSVCommand"></span>
						<span class="item export" data-bind="i18n: {'key': '%ModuleName%/ACTION_EXPORT_VCF'}, command: exportVCFCommand"></span>
						<span class="item import" data-bind="i18n: {'key': 'CORE/ACTION_IMPORT'}, command: importCommand"></span>
					</span>
				</span>
			</span>
		</span>
	</span>
</div>
