<span class="item importance" data-bind="dropdown: {'control': false}">
	<span class="icon" data-bind="customTooltip: 'COMPOSE/TOOL_IMPORTANCE'"></span>
	<span class="text" data-bind="i18n: 'text'" data-i18n="COMPOSE/TOOL_IMPORTANCE"></span>
	<span class="icon arrow"></span>
	<span class="dropdown">
		<span class="dropdown_helper">
			<span class="dropdown_arrow"><span></span></span>
			<span class="dropdown_content">
				<span class="item" data-bind="click: function () {selectedImportance(Enums.Importance.Low);}, 
					  i18n: 'text', 
					  css: {'selected': selectedImportance() === Enums.Importance.Low}"
					data-i18n="COMPOSE/TOOL_LOW_IMPORTANCE"></span>
				<span class="item" data-bind="click: function () {selectedImportance(Enums.Importance.Normal);}, 
					  i18n: 'text', 
					  css: {'selected': selectedImportance() === Enums.Importance.Normal}"
					data-i18n="COMPOSE/TOOL_NORMAL_IMPORTANCE"></span>
				<span class="item" data-bind="click: function () {selectedImportance(Enums.Importance.High);}, 
					  i18n: 'text', 
					  css: {'selected': selectedImportance() === Enums.Importance.High}"
					data-i18n="COMPOSE/TOOL_HIGH_IMPORTANCE"></span>
			</span>
		</span>
	</span>
</span>
