<!-- ko template: {name: sToolbarMobileViewTemplate} --><!-- /ko -->

<div class="panel_center" data-bind="heightAdjust: {'elements': [domMessageHeader, domQuickReply], 'triggers': [detailsVisible(), currentMessage(), replyPaneVisible(), replyTextFocusThrottled()]}">
	<div class="message_header" data-bind="initDom: domMessageHeader, visible: isCurrentMessage, event: {'dblclick': resizeDblClick}">
		<div class="notice" data-bind="visible: visiblePicturesControl">
			<span class="item">
				<span data-bind="i18n: {'key': 'MAIL/INFO_MESSAGE_BLOCKED'}"></span>
				<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_SHOW_PICTURES'}, click: showPictures, visible: visibleShowPicturesLink"></span>
			</span>
			<span class="item">
				<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_ALWAYS_SHOW_PICTURE_THIS_SENDER'}, click: alwaysShowPictures"></span>
			</span>
		</div>

		<div class="notice" data-bind="visible: visibleConfirmationControl">
			<span data-bind="i18n: {'key': 'MAIL/INFO_SENDER_ASKED_NOTIFY'}"></span>
			<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_NOTIFY_SENDER'}, click: notifySender"></span>
		</div>

		<!-- ko foreach: topControllers -->
			<!-- ko if: $data.ViewTemplate -->
				<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
			<!-- /ko -->
		<!-- /ko -->
		
		<div class="header_content clearfix">
			<div class="header_row">
				<!-- ko template: {name: sToolbarViewTemplate} --><!-- /ko -->
				
				<span class="link" data-bind="css: {'details_show': !detailsVisible(), 'details_hide': detailsVisible()}, 
					customTooltip: detailsTooltip, click: switchDetailsVisibility"></span>
				
				<div class="message_info" data-bind="visible: !detailsVisible()">
					<div class="message_info_line">
						<span class="from control address" data-bind="text: currentAccountEmail() === fromEmail() ? meSender : from, 
								attr: {'data-email': fromEmail, 'data-name': oFromAddr() ? oFromAddr().sName : ''}"></span>
						<span data-bind="i18n: {'key': 'MAIL/SHORT_LINE_TO'}, visible: allRecipients().length > 0"></span>
						<span data-bind="foreach: allRecipients">
							<span class="address" data-bind="text: $parent.currentAccountEmail() === sEmail ? $parent.meRecipient : sDisplay, 
									attr: {'data-email': sEmail, 'data-name': sName}">
							</span><span data-bind="visible: $parent.allRecipients().length > $index() + 1">, </span>
						</span>
					</div>
				</div>
				
				<div class="message_info message_detail_info" data-bind="visible: detailsVisible()">
					<div class="message_info_line">
						<span class="title" data-bind="i18n: {'key': 'MAIL/LABEL_FROM'}"></span>: 
						<span class="from control address" data-bind="text: fullFrom, 
								attr: {'data-email': fromEmail, 'data-name': oFromAddr() ? oFromAddr().sName : ''}">
						</span>
					</div>
				
					<div class="message_info_line" data-bind="visible: aToAddr().length > 0">
						<span class="title" data-bind="i18n: {'key': 'MAIL/LABEL_TO'}"></span>: 
						<!-- ko foreach: aToAddr -->
						<span class="address" data-bind="text: sFull, attr: {'data-email': sEmail, 'data-name': sName}">
						</span><span data-bind="visible: $parent.aToAddr().length > $index() + 1">, </span>
						<!-- /ko -->
					</div>
					<div class="message_info_line" data-bind="visible: aCcAddr().length > 0">
						<span class="title" data-bind="i18n: {'key': 'CORE/LABEL_CC'}"></span>: 
						<!-- ko foreach: aCcAddr -->
						<span class="address" data-bind="text: sFull, attr: {'data-email': sEmail, 'data-name': sName}">
						</span><span data-bind="visible: $parent.aCcAddr().length > $index() + 1">, </span>
						<!-- /ko -->
					</div>
					<div class="message_info_line" data-bind="visible: aBccAddr().length > 0">
						<span class="title" data-bind="i18n: {'key': 'CORE/LABEL_BCC'}"></span>: 
						<!-- ko foreach: aBccAddr -->
						<span class="address" data-bind="text: sFull, attr: {'data-email': sEmail, 'data-name': sName}">
						</span><span data-bind="visible: $parent.aBccAddr().length > $index() + 1">, </span>
						<!-- /ko -->
					</div>
					<div class="message_info_line">
						<span class="title" data-bind="i18n: {'key': 'MAIL/LABEL_DATE'}"></span>: 
						<span data-bind="text: fullDate"></span>
					</div>
				</div>
			</div>

			<div class="header_row" data-bind="css: {'nosubject': emptySubject()}">
				<span class="date" data-bind="text: midDate, visible: !detailsVisible()"></span>
				<span class="icon importance" data-bind="visible: importance() === Enums.Importance.High"></span>
				<h2 class="subject" data-bind="text: subjectForDisplay"></h2>
			</div>
		</div>
		
		<!-- ko template: {name: sAttachmentsSwitcherViewTemplate} --><!-- /ko -->
	</div>
	<div class="panels" data-bind="css: {'has_attachments': hasNotInlineAttachments, 'view_attachments': visibleAttachments}">
	
		<div class="panel right_panel" data-bind="visible: hasNotInlineAttachments, customScrollbar: {x: false, 'reset': currentMessage()}">
			<div class="scroll-inner">
				<div class="attachments large">
					<div class="download_menu">
						<span class="link hover" data-bind="visible: visibleExtendedDownload">
							<span class="icon"></span>
							<span class="text" data-bind="i18n: {'key': 'MAIL/ATTACHMENT_DOWNLOAD_ALL'}"></span>
						</span>
						
						<div class="content">
							<span class="link all" data-bind="click: downloadAllAttachments, visible: visibleDownloadAllAttachments">
								<span class="icon"></span>
								<span class="text" data-bind="i18n: {'key': 'MAIL/ATTACHMENT_DOWNLOAD_AS_ZIP'}"></span>
							</span>
							<span class="link separately"
							   data-bind="click: downloadAllAttachmentsSeparately, visible: visibleDownloadAllAttachmentsSeparately">
								<span class="icon"></span>
								<span class="text" data-bind="i18n: {'key': 'MAIL/ATTACHMENT_DOWNLOAD_ALL_SEPARATELY'}"></span>
							</span>
							<span class="link to_filestorage" data-bind="click: saveAttachmentsToFiles, visible: visibleSaveAttachmentsToFiles">
								<span class="icon"></span>
								<span class="text" data-bind="i18n: {'key': 'MAIL/ATTACHMENT_SAVE_TO_FILES'}"></span>
							</span>
						</div>
					</div>
					<div data-bind="template: {name: 'Core_FileView', foreach: notInlineAttachments}"></div>
				</div>
			</div>
		</div>
		<div class="panel left_panel">
			<div class="message" data-bind="customScrollbar: {x: true, y: true, 'reset': displayedMessageUid()}, css: {'has_bodytext': hasBodyText, 'has_attachments': hasNotInlineAttachments}">
				<div class="message_content scroll-inner" data-bind="hasfocus: contentHasFocus">

					<!-- ko foreach: bodyControllers -->
						<!-- ko if: $data.ViewTemplate -->
							<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
						<!-- /ko -->
					<!-- /ko -->

					<div class="message_body_info" data-bind="visible: visibleNoMessageSelectedText">
						<div data-bind="i18n: {'key': 'MAIL/INFO_SINGLE_DOUBLE_CLICK'}"></div>
						<div class="message_body_secondary_info" data-bind="i18n: {'key': 'MAIL/INFO_SINGLE_DOUBLE_CLICK'}"></div>
					</div>
					<div class="message_body_info" data-bind="visible: isLoading, i18n: {'key': 'CORE/INFO_LOADING'}"></div>
					<div class="message_body html" data-bind="initDom: domTextBody, attr: {'dir': rtlMessage() ? 'rtl' : 'ltr'}"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- ko template: {name: sQuickReplyViewTemplate} --><!-- /ko -->
</div>

<!-- ko template: {name: 'Mail_PrintMessageView'} --><!-- /ko -->
