<div class="middle_bar" data-bind="css: {'advanced_search': bAdvancedSearch}">
	<div class="panel_top">
		<label class="custom_checkbox" data-bind="css: {'checked': checkAll, 'incomplete': checkAllIncomplite}">
			<span class="icon"></span>
			<input type="checkbox" data-bind="checked: checkAll" />
		</label>
		<!-- ko template: {name: sSearchViewTemplate} --><!-- /ko -->
	</div>
	<div class="panel_center unselectable" data-bind="customScrollbar: {'reset': listChangedThrottle(), x: false}">
		<div class="scroll-inner message_list_scroll">
			<div class="items_list message_list" data-bind="initDom: messagesContainer">
				<span data-bind="visible: isCurrentAllowsMail">
					<span class="list_notification" data-bind="visible: visibleInfoSearchLoading">
						<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_STOP_SEARCH'}, click: onStopSearchClick"></span>
						<span class="description" data-bind="html: searchText"></span>
					</span>

					<span class="list_notification search_results" data-bind="visible: visibleInfoSearchList">
						<span class="link" data-bind="i18n: {'key': 'CORE/ACTION_CLEAR_SEARCH'}, click: onClearSearchClick"></span>
						<span class="description" data-bind="html: searchText"></span>
					</span>

					<span class="list_notification" data-bind="visible: visibleInfoSearchEmpty">
						<span class="link" data-bind="i18n: {'key': 'CORE/ACTION_CLEAR_SEARCH'}, click: onClearSearchClick"></span>
						<span class="description" data-bind="i18n: {'key': 'MAIL/INFO_SEARCH_EMPTY'}"></span>
					</span>

					<span class="list_notification" data-bind="visible: visibleInfoSearchError">
						<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_RETRY'}, click: onRetryClick"></span>
						<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_SWITCH_TO_MESSAGE_LIST'}, click: onClearSearchClick"></span>
						<span class="description" data-bind="i18n: {'key': 'MAIL/INFO_SEARCH_ERROR'}"></span>
					</span>

					<span class="list_notification" data-bind="visible: visibleInfoUnseenFilterList">
						<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_CLEAR_FILTER'}, click: onClearFilterClick"></span>
						<span class="description" data-bind="html: unseenFilterText"></span>
					</span>

					<span class="list_notification" data-bind="visible: visibleInfoUnseenFilterEmpty">
						<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_CLEAR_FILTER'}, click: onClearFilterClick"></span>
						<span class="description" data-bind="text: unseenFilterEmptyText"></span>
					</span>

					<span class="list_notification" data-bind="visible: visibleInfoMessageListEmpty">
						<span class="description" data-bind="i18n: {'key': 'MAIL/INFO_MESSAGE_LIST_EMPTY'}"></span>
					</span>

					<span class="list_notification" data-bind="visible: visibleInfoStarredFolderEmpty">
						<span class="description" data-bind="i18n: {'key': 'MAIL/INFO_STARRED_FOLDER_EMPTY'}"></span>
					</span>

					<span class="list_notification" data-bind="visible: visibleInfoMessageListError">
						<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_RETRY'}, click: onRetryClick"></span>
						<span class="description" data-bind="i18n: {'key': 'MAIL/INFO_MESSAGE_LIST_ERROR'}"></span>
					</span>
				</span>
				<span data-bind="visible: !isCurrentAllowsMail()">
					<span class="list_notification">
						<span class="description">
							<span data-bind="i18n: {'key': 'MAIL/INFO_MAIL_NOT_CONNECTED'}"></span>
							<span data-bind="text: sAddingInfo1"></span><a href="javascript: void();" data-bind="text: sAddingInfo2, click: addNewAccount">
							</a><span data-bind="text: sAddingInfo3"></span>
						</span>
					</span>
				</span>

				<div class="items_sub_list message_sub_list" data-bind="foreach: collection, 
					 draggablePlace: function (oMessage, bCtrl) {return $root.dragAndDropHelper(oMessage, bCtrl);},
					 css: {'not_use_threads': !useThreads(), 'use_threads': useThreads}">
					<!-- ko template: {name: 'Mail_MessageItemView'} --><!-- /ko -->
				</div>

				<span class="list_notification" data-bind="visible: visibleInfoLoading()">
					<span class="description" data-bind="i18n: {'key': 'MAIL/INFO_LOADING_MESSAGE_LIST'}"></span>
				</span>
				<span class="list_notification" data-bind="visible: visibleInfoSearchLoading()">
					<span class="description" data-bind="i18n: {'key': 'MAIL/INFO_SEARCHING_FOR_MESSAGES'}"></span>
				</span>
				<div class="uploader_mask" data-bind="initDom: uploaderArea, css: {'active': bDragActiveComp}, visible: folderType() !== Enums.FolderTypes.Spam">
					<div class="inner"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel_bottom unselectable" data-bind="template: {name: oPageSwitcher.ViewTemplate, data: oPageSwitcher}"></div>
</div>
