<span class="search_block">
	<span class="input" data-bind="css: {'focus': isFocused}">
		<span class="icon search" data-bind="i18n: {'key': 'CORE/BUTTON_SEARCH'}"></span>
		<input class="field" spellcheck="false"  type="text" data-bind="value: searchInput, onEnter: onSearchClick" />
	</span>
</span>
<div class="toolbar">
	<span class="content">
		<span class="item checkstate" data-bind="command: $parent.checkMailCommand, 
				checkstate: {'activeClass': 'process', 'state': $parent.checkMailIndicator(), 'duration': 800}, 
				customTooltip: 'MAIL/TOOL_CHECK_MAIL'">
			<span class="icon"></span>
			<span class="text" data-bind="i18n: {'key': 'MAIL/TOOL_CHECK_MAIL'}"></span>
		</span>
	</span>
</div>
