<span class="group mark" data-bind="dropdown: {}, css: {disabled: oMessageList.isEmptyList()}">
	<span class="item" data-bind="command: markAsReadCommand, customTooltip: '%MODULENAME%/ACTION_MARK_AS_READ'">
		<span class="icon"></span>
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MARK_AS_READ'}"></span>
	</span><span class="item control">
		<span class="icon arrow"></span>
		<span class="dropdown">
			<span class="dropdown_helper">
				<span class="dropdown_arrow"><span></span></span>
				<span class="dropdown_content">
					<span class="item allread" data-bind="command: markAllReadCommand, i18n: {'key': '%MODULENAME%/ACTION_MARK_ALL_READ'}"></span>
					<span class="item unread" data-bind="command: markAsUnreadCommand, i18n: {'key': '%MODULENAME%/ACTION_MARK_AS_UNREAD'}"></span>
				</span>
			</span>
		</span>
	</span>
</span>
