<span class="item spam" data-bind="command: spamCommand, visible: allowedSpamAction, customTooltip: '%ModuleName%/ACTION_MARK_SPAM'">
	<span class="icon"></span>
	<span class="text" data-bind="i18n: {'key': '%ModuleName%/ACTION_MARK_SPAM'}"></span>
</span>
<span class="item notspam" data-bind="command: notSpamCommand, visible: allowedNotSpamAction, customTooltip: '%ModuleName%/ACTION_MARK_NOT_SPAM'">
	<span class="icon"></span>
	<span class="text" data-bind="i18n: {'key': '%ModuleName%/ACTION_MARK_NOT_SPAM'}"></span>
</span>
