<input type="submit" name="next_btn" style="position: absolute; visibility: hidden;" value="Next" />

<h1>
	Install common libraries
</h1>

<p class="description">
	These libraries will be installed:
</p>
<div class="field_list">
	<label class="field_label_tiny">Path to php executable:</label>
	<span class="field_value">
		<input type="text" size="60" name="sPhpPath" id="sPhpPath" value="{{sPhpPath}}" />
	</span>
</div>
<br />
<div class="field_list">
	{{LibrariesList}}
</div>

<div class="buttons">
	<hr />
	<input class="wm_button" type="submit" name="back_btn" value="Back" />
	<input class="wm_button right" type="submit" name="next_btn" value="Install" />
</div>