<input type="submit" name="next_btn" style="position: absolute; visibility: hidden;" value="Next" />

<h1>
	Install modules
</h1>

<p class="description">
	These modules will be installed:
</p>
<div class="field_list">
	<span class="field_value">
		<input type="checkbox" name="chDevMode" id="chDevMode" value="1" {{DevModeChecked}} />
		<label for="chDevMode">Install in dev. mode</label>
		<br />
		<span class="field_description">{{chDevModeText}}</span>
	</span>
</div>
<br />
<div class="field_list">
	<label class="field_label_tiny">Path to php executable:</label>
	<span class="field_value">
		<input type="text" name="sPhpPath" id="sPhpPath" value="{{sPhpPath}}" />
	</span>
</div>
<br />
<div class="field_list">
	{{ModulesList}}
</div>

<div class="buttons">
	<hr />
	<input class="wm_button" type="submit" name="back_btn" value="Back" />
	<input class="wm_button right" type="submit" name="next_btn" value="Install" />
</div>