<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': 'OUTLOOKSYNC/HEADING_SETTINGS_TAB'}"></h2>
</div>

<div class="panel_center">
	<div class="fields">
		
		<!-- ko template: {name: oResetPasswordViewModel.ViewTemplate, data: oResetPasswordViewModel} --><!-- /ko -->
		
		<div class="fieldset">
			<div class="hint" data-bind="i18n: {'key': 'OUTLOOKSYNC/INFO_SYNC_PLUGIN'}"></div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'OUTLOOKSYNC/LABEL_DAV_SERVER'}"></span>
				<span class="value" data-bind="text: server"></span>
			</div>
			<div class="hint" data-bind="text: credentialsHintText"></div>
			<div class="hint" data-bind="i18n: {'key': 'CORE/INFO_DEMO_MOBILE_CREDENTIALS_HTML', 'type': 'html'}, visible: bDemo"></div>

			<br />
			<br />

			<div class="hint" data-bind="i18n: {'key': 'OUTLOOKSYNC/INFO_PLUGIN_SUPPORTS'}, visible: sPlugin32DownloadLink || sPlugin64DownloadLink"></div>
			<div>
				- <a class="link" href="#" target="_blank" data-bind="i18n: {'key': 'OUTLOOKSYNC/ACTION_GET_PLUGIN_VERSION_32'}, visible: sPlugin32DownloadLink, attr: {href: sPlugin32DownloadLink}"></a>
				<br />
				- <a class="link" href="#" target="_blank" data-bind="i18n: {'key': 'OUTLOOKSYNC/ACTION_GET_PLUGIN_VERSION_64'}, visible: sPlugin64DownloadLink, attr: {href: sPlugin64DownloadLink}"></a>
			</div>
			<br />
			<div class="hint" data-bind="visible: sPluginReadMoreLink">
				<span data-bind="i18n: {'key': 'OUTLOOKSYNC/INFO_PLUGIN_VERSION'}"></span>
				<a class="link" href="#" target="_blank" data-bind="i18n: {'key': 'OUTLOOKSYNC/ACTION_READ_MORE_PLUGIN'}, attr: {href: sPluginReadMoreLink}"></a>
			</div>
		</div>
	</div>
</div>
