<div class="alert popup" style="display: none;">
	<div class="mask"></div>
	<span class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="visible: (popupHeading() !== ''), text: popupHeading"></span>
		<span class="text" data-bind="html: alertDesc"></span>
		<div class="buttons">
			<span class="button success" data-bind="click: closePopup, text: okButtonText"></span>
		</div>
	</span>
	<span class="helper"></span>
</div>