<div class="panel_top">
	<h2 class="title" data-bind="i18n: {'key': 'CORE/HEADING_COMMON_SETTINGS'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row" data-bind="visible: aSkins.length > 1">
				<span class="label" data-bind="i18n: {'key': 'CORE/LABEL_SKIN'}"></span>
				<select class="value input" data-bind="value: selectedSkin, options: aSkins"></select>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'CORE/LABEL_LANGUAGE'}"></span>
				<select class="value input" data-bind="value: selectedLanguage, options: aLanguages, optionsText: 'name', optionsValue: 'value'"></select>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'CORE/LABEL_REFRESH_EVERY'}"></span>
				<select class="value input" data-bind="value: autoRefreshInterval, options: aRefreshIntervals, optionsText: 'name', optionsValue: 'value'"></select>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'CORE/LABEL_TIME_FORMAT'}"></span>
				
				<span class="value">
					<label class="custom_radio" data-bind="css: {'checked': timeFormat() === Enums.TimeFormat.F12}">
						<span class="icon"></span>
						<input type="radio" id="timeformat_12" data-bind="checked: timeFormat, attr: {'value': Enums.TimeFormat.F12}" />
					</label>
					<label for="timeformat_12" data-bind="i18n: {'key': 'CORE/LABEL_TIME_FORMAT_12'}"></label>

					<label class="custom_radio" data-bind="css: {'checked': timeFormat() === Enums.TimeFormat.F24}">
						<span class="icon"></span>
						<input type="radio" id="timeformat_24" data-bind="checked: timeFormat, attr: {'value': Enums.TimeFormat.F24}" />
					</label>
					<label for="timeformat_24" data-bind="i18n: {'key': 'CORE/LABEL_TIME_FORMAT_24'}"></label>
				</span>
			</div>
			<div class="row" data-bind="visible: window.Notification">
				<span class="value offset" data-bind="css: {'disabled': !isDesktopNotificationsEnable()}">
					<label class="custom_checkbox" data-bind="css: {'checked': desktopNotifications}">
						<span class="icon"></span>
						<input type="checkbox" id="desktopNotifications" data-bind="checked: desktopNotifications, enable: isDesktopNotificationsEnable()" />
					</label>
					<label for="desktopNotifications" data-bind="i18n: {'key': 'CORE/LABEL_ENABLE_NOTIFICATION'}"></label>
				</span>
			</div>
			<div class="hint row" data-bind="visible: window.Notification && !isDesktopNotificationsEnable()">
				<span class="value offset" data-bind="i18n: {'key': 'CORE/INFO_NOTIFICATION_DISABLED'}"></span>
			</div>
			<!--<div class="row" data-bind="visible: defaultAccountCanBeRemoved">
				<span class="value">
					<a class="link" href="javascript:void(0);" data-bind="i18n: {'key': 'CORE/ACTION_REMOVE_ACCOUNT'}, click: removeDefaultAccount"></a>
				</span>
			</div>
			<div class="hint row" data-bind="visible: defaultAccountCanBeRemoved">
				<span class="value" data-bind="text: defaultAccountRemoveHint"></span>
			</div>-->
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save">
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, visible: !isSaving()"></span>
				<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
			</span>
		</div>
	</div>
</div>
