<div class="item folder" 
	data-bind="
		draggablePlace: !$parent.isPopup ? $parent.dragAndDropHelperBinded : null,
		draggableDragStartCallback: function() {if (!$parent.isPopup) $root.dragover(true);},
		draggableDragStopCallback: function() {if (!$parent.isPopup) $root.dragover(false);},
		css: {'selected': selected, 'checked': checked, 'deleted': deleted, 'shared': shared}"
>
	<div class="item_content ui-droppable dragHandle" data-bind="css: {'recivedAnim': recivedAnim()}, droppable: {valueFunc: function (oEvent, oUi) {$root.filesDrop($data, oEvent, oUi);}}">
		<div class="image">
			<span class="icon animGoal"></span>
		</div>
		<span class="shared_icon" data-bind="click: function (oItem) { $root.onShareIconClick(oItem); }"></span>						
		<span class="name" data-bind="text: fileName()"></span>
		<div class="separator"></div>
	</div>
</div>
