html {
	overflow: hidden;
}

body {
	overflow: auto;
	position: relative;
}

.auroraMain {
    min-width: 640px;

	html.non-adjustable & {
		height: auto;
		overflow: visible;
		min-height: inherit;
		min-width: inherit;
	}
	
	html.non-adjustable-valign & {
		overflow: visible;
	}
}

.panel.left_panel {
	box-shadow: none;
	
	.panel_center {
		background: none;
	}
}
