<div class="screen SettingsLayout" style="display: none;">
	<div class="panels settings">
		<div class="panel left_panel navigation_panel" data-bind="adjustHeightToContent: {}">
			<div class="panel_content">
				<div class="middle_bar">
					<div class="panel_center">
						<div class="items_list" data-bind="foreach: tabs">
							<div class="item canSelect" data-bind="visible: typeof(visible) !== 'undefined' ? visible() : true, 
									attr: {'class': 'item canSelect ' + name, 'id': 'selenium_settings_' + name}, 
									css: {'selected': $parent.currentTab() && $parent.currentTab().name === name}, 
									click: function () { $parent.changeTab(name); }">
								<span class="title">
									<span class="icon"></span>
									<span class="text" data-bind="text: title"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel data">
			<div class="panel_content" data-bind="with: currentTab">
				<div data-bind="attr: {'class': 'middle_bar ' + name}">
					<!-- ko template: {name: view.ViewTemplate, data: view} --><!-- /ko -->
				</div>
			</div>
		</div>
	</div>
</div>
