.pagination {
	background: #f5f5f5;
	border: 1px solid #d5d5d5;
	border-radius: 21px;
	box-shadow: 0 0 5px #e1e1e1;
	cursor: default;
	display: inline-block;
	padding: 4px 10px;
	text-align: right;

	.item {
		font-size: 14pt;
	}
}
