<div class="tabs_panel">
	<div class="right" data-bind="dropdown: {control: false}">
		<span class="control">
			<span class="icon"></span>
		</span>
		<span class="dropdown">
			<span class="dropdown_helper">
				<span class="dropdown_arrow"><span></span></span>
				<span class="dropdown_content">
					<!-- ko foreach: tabs -->
						<!-- ko template: {name: ViewTemplate, data: $data} --><!-- /ko -->
					<!-- /ko -->

					<span class="item full_version" data-bind="click: switchToFullVersion">
						<span class="text" data-bind="i18n: {'key': 'CORE/ACTION_SHOW_FULL_VERSION'}"></span>
					</span>
					<span class="item logout" data-bind="click: logout">
						<span class="text" data-bind="i18n: {'key': 'CORE/ACTION_LOGOUT'}"></span>
					</span>
				</span>
			</span>
		</span>
	</div>
</div>
