<div class="quick_reply fields" data-bind="initDom: domQuickReply, 
	quickReplyAnim: {
		'sendAction': replySendingStarted(), 
		'saveAction': replySavingStarted(), 
		'activeAction': isQuickReplyActive()
	},
	visible: replyPaneVisible() && isVisibleReplyTool()">
	<div class="status">
		<div class="text" data-bind="text: replyLoadingText"></div>
	</div>
	<div class="row" data-bind="css: {'focused': replyTextFocus(),
		 'filled': replyText().length > 0}">
		<label for="reply_text" class="placeholder"  data-bind="i18n: {'key': '%ModuleName%/LABEL_QUICK_REPLY'}"></label>
		<textarea id="reply_text" class="input" data-bind="value: replyText, 
			hasfocus: replyTextFocus, onCtrlEnter: executeSendQuickReply, 
			valueUpdate: 'afterkeydown', style: {'fontFamily': sDefaultFontName}"></textarea>
	</div>
	<div class="buttons">
		<span class="button" data-bind="i18n: {'key': '%ModuleName%/ACTION_SEND'}, command: sendQuickReplyCommand"></span>
		<span class="button contour_button" data-bind="text: saveButtonText, command: saveQuickReplyCommand"></span>
		<span class="text hint" data-bind="i18n: {'key': 'CORE/LABEL_SEND_HOTKEY'}"></span>
		<a class="link full_form" href="javascript: void(0);" data-bind="i18n: {'key': '%ModuleName%/ACTION_OPEN_FULL_REPLY'}, command: replyAllCommand"></a>
	</div>
</div>
