<span class="item reply" data-bind="command: replyCommand, visible: isVisibleReplyTool">
	<span class="icon" data-bind="customTooltip: 'MAIL/TOOL_REPLY'"></span>
	<span class="text" data-bind="i18n: 'text'" data-i18n="MAIL/TOOL_REPLY"></span>
</span>
<span class="item replyall" data-bind="command: replyAllCommand, visible: isVisibleReplyTool">
	<span class="icon" data-bind="customTooltip: 'MAIL/TOOL_REPLY_TO_ALL'"></span>
	<span class="text" data-bind="i18n: 'text'" data-i18n="MAIL/TOOL_REPLY_TO_ALL"></span>
</span>
