<div class="toolbar">
	<span class="content">

		<span class="item delete" data-bind="command: deleteCommand, visible: bNewTab, customTooltip: 'CORE/ACTION_DELETE'">
			<span class="icon"></span>
			<span class="text" data-bind="i18n: {'key': 'CORE/ACTION_DELETE'}"></span>
		</span>
		<span class="item prev" data-bind="command: nextMessageCommand, visible: bNewTab">
			<span class="icon" data-bind="customTooltip: 'MAIL/ACTION_OPEN_NEXT_MESSAGE'"></span>
			<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_OPEN_NEXT_MESSAGE'}"></span>
		</span>
		<span class="item next" data-bind="command: prevMessageCommand, visible: bNewTab">
			<span class="icon" data-bind="customTooltip: 'MAIL/ACTION_OPEN_PREV_MESSAGE'"></span>
			<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_OPEN_PREV_MESSAGE'}"></span>
		</span>
		
		<!-- ko template: {name: 'Mail_Message_ReplyButtonsView'} --><!-- /ko -->
		
		<span class="item resend" data-bind="command: resendCommand, visible: isVisibleResendTool">
			<span class="icon" data-bind="customTooltip: 'MAIL/ACTION_RESEND'"></span>
			<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_RESEND'}"></span>
		</span>
		
		<!-- ko template: {name: 'Mail_Message_ForwardButtonView'} --><!-- /ko -->

		<a class="item new_window" href="javascript: void(0);" 
			data-bind="click: openInNewWindow, visible: !bNewTab">
			<span class="icon" data-bind="customTooltip: 'MAIL/ACTION_OPEN_IN_NEW_WINDOW'"></span>
			<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_OPEN_IN_NEW_WINDOW'}"></span>
		</a>

		<span class="item more" data-bind="dropdown: {control: false}, command: moreCommand, customTooltip: 'MAIL/ACTION_SHOW_MORE_ACTIONS'">
			<span class="icon"></span>
			<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_SHOW_MORE_ACTIONS'}"></span>
			<span class="dropdown">
				<span class="dropdown_helper">
					<span class="dropdown_arrow">
						<span></span>
					</span>
					<span class="dropdown_content">
						<span class="item print" data-bind="command: printCommand">
							<span class="icon"></span>
							<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_PRINT'}"></span>
						</span>

						<span class="item save" data-bind="command: saveCommand">
							<span class="icon"></span>
							<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_DOWNLOAD_EML'}"></span>
						</span>

						<span class="item save_as_pdf" data-bind="visible: bAllowSaveMessageAsPdf, command: saveAsPdfCommand">
							<span class="icon"></span>
							<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_DOWNLOAD_PDF'}"></span>
						</span>

						<span class="item headers" data-bind="visible: currentMessage() && currentMessage().completelyFilled(), click: showSourceHeaders">
							<span class="icon"></span>
							<span class="text" data-bind="i18n: {'key': 'MAIL/ACTION_OPEN_MESSAGE_HEADERS'}"></span>
						</span>

						{%INCLUDE-START/Message-Pane-More-Actions-Menu/INCLUDE-END%}

					</span>
				</span>
			</span>
		</span>

	</span>
</div>
