<div class="toolbar">
	<span class="content">
		<span class="item close" data-bind="click: $parent.gotoMessageList.bind($parent)">
			<span class="icon"></span>
			<span class="text"></span>
		</span>
		
		<!-- ko template: {name: 'Mail_Message_ReplyButtonsView'} --><!-- /ko -->
		
		<!-- ko template: {name: 'Mail_Message_ForwardButtonView'} --><!-- /ko -->
		
		<span class="item delete" data-bind="command: deleteCommand">
			<span class="icon" data-bind="customTooltip: 'MAIL/TOOL_DELETE'"></span>
			<span class="text" data-bind="i18n: {'key': 'MAIL/TOOL_DELETE'}"></span>
		</span>
	</span>
</div>
