<div class="toolbar">
	<span class="content">
		<span class="item close" data-bind="click: function () {$root.backToContactList();}">
			<span class="icon"></span>
			<span class="text" data-bind="i18n: 'text'" data-i18n="MAILBOX/TOOL_BACK_TO_LIST"></span>
		</span>
		<span class="item send_files command" data-bind="visible: hasEmails, click: sendThisContact, visible: allowSendEmails">
			<span class="icon"></span>
			<span class="text" data-i18n="CONTACTS/BUTTON_SEND_THIS_CONTACT" data-bind="i18n: 'text'"></span>
		</span>
		<a class="item new_message command" href="javascript: void(0)" data-bind="makeLinkComposeMailTo: getFullEmail()" style="display: none;">
			<span class="icon"></span>
			<span class="text" data-i18n="CONTACTS/BUTTON_EMAIL_TO_THIS_CONTACT" data-bind="i18n: 'text'"></span>
		</a>
	</span>
</div>