<div class="panel_bottom" data-bind="initDom: bottomPanel, listWithMoreButton: true">
	<span class="text hint" data-bind="foreach: aHotkeys">
		<span class="hotkey">
			<span class="hotkey_value" data-bind="text: value"></span>
			<span class="hotkey_action" data-bind="text: action"></span>
		</span>
	</span>
	<span class="more_hints" data-bind="dropdown: {control: false}, customTooltip: '%ModuleName%/ACTION_SHOW_MORE_ACTIONS'">
		<span class="icon"></span>
		<span class="dropdown">
			<span class="dropdown_helper">
				<span class="dropdown_content" data-bind="foreach: aHotkeys">
					<span class="item">
						<span class="hotkey_value" data-bind="text: value"></span>
						<span class="hotkey_action" data-bind="text: action"></span>
					</span>
				</span>
				<span class="dropdown_arrow bottom_arrow">
					<span></span>
				</span>
			</span>
		</span>
	</span>
</div>
