<span class="item save_and_close" data-bind="visible: typeof saveAndClose === 'function', 
		click: function () { if (saveAndClose) { saveAndClose(); } }, customTooltip: saveAndCloseTooltip">
	<span class="icon"></span>
</span>
<span class="item new_window"
	data-bind="customTooltip: 'COMPOSE/LINK_OPEN_IN_NEW_WINDOW', click: openInNewWindow">
	<span class="icon"></span>
</span>
<span class="item minimize" data-bind="visible: typeof minimize === 'function', 
		click: function () { if (minimize) { minimize(); } }, customTooltip: 'COMPOSE/TOOL_MINIMIZE'">
	<span class="icon"></span>
</span>
