<div class="screen ContactsLayout" style="display: none;">
	<div class="panels" data-bind="splitter: {name: 'groups', sizeLeft: 200, minLeft: 20, minRight: 40, resizeToWidth: true}, css: {'groups': selectedPanel() === Enums.MobilePanel.Groups,  'list_active': selectedPanel() === Enums.MobilePanel.Items,  'viewer_active': selectedPanel() === Enums.MobilePanel.View}">
		<div class="panel left_panel groups_panel" data-splitter="groups">
			<div class="resize_handler"></div>
			<div class="panel_content">
				<!-- ko template: { name: sGroupsToolbarTemplate} --><!-- /ko -->
				<div class="middle_bar">
					<!-- ko template: { name: '%ModuleName%_GroupsView', data: $data} --><!-- /ko -->
				</div>
			</div>
		</div>
		<div class="panel_helper" data-bind="splitter: {name: 'contacts', sizeLeft: 450, minLeft: (showSharedToAllContacts() ? 418 : 368), minRight: 10}">
			<div class="panel center_panel contacts_panel">
				<div class="resize_handler"></div>
				<div class="panel_content">
					<!-- ko template: { name: sContactsToolbarTemplate} --><!-- /ko -->
					<div class="middle_bar" data-bind="template: {name: '%ModuleName%_ContactsView'}"></div>
				</div>
			</div>
			<div class="panel item_viewer contact_viewer">
				<div class="panel_content">
					<div class="middle_bar contact" data-bind="visible: selectedContact() && !selectedContact().edited(), with: selectedContact">
						<!-- ko template: { name: '%ModuleName%_ContactView', data: $data} --><!-- /ko -->
					</div>

					<div class="middle_bar edit_contact" data-bind="visible: selectedContact() && selectedContact().edited(), with: selectedContact" id="selenium_contacts_edit_form">
						<!-- ko template: { name: '%ModuleName%_EditContactView', data: $data } --><!-- /ko -->
					</div>

					<div class="middle_bar group" data-bind="visible: selectedGroup() && !selectedGroup().edited(), with: selectedGroup">
						<!-- ko template: { name: '%ModuleName%_GroupView', data: $data } --><!-- /ko -->
					</div>

					<div class="middle_bar edit_group" data-bind="visible: selectedGroup() && selectedGroup().edited(), with: selectedGroup" id="selenium_contacts_edit_group_form">
						<!-- ko template: { name: '%ModuleName%_EditGroupView', data: $data } --><!-- /ko -->
					</div>

					<div class="middle_bar import" data-bind="visible: oImportView.visibility()">
						<!-- ko template: { name: oImportView.ViewTemplate, data: oImportView } --><!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
