<div class="fieldgroup">
	<h2 class="subheading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_CARDDAV_ACCESS'}"></h2>

	<div class="row" data-bind="visible: bVisiblePersonalContacts">
		<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PERSONAL_CONTACTS'}"></span>
		<span class="value" data-bind="text: davPersonalContactsUrl"></span>
	</div>
	<div class="row" data-bind="visible: bVisiblePersonalContacts">
		<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_COLLECTED_ADDRESSES'}"></span>
		<span class="value" data-bind="text: davCollectedAddressesUrl"></span>
	</div>
	<div class="row" data-bind="visible: bVisibleSharedWithAllContacts">
		<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SHARED_ADDRESS_BOOK'}"></span>
		<span class="value" data-bind="text: davSharedWithAllUrl"></span>
	</div>
	<div class="row" data-bind="visible: bVisibleGlobalContacts">
		<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_GLOBAL_ADDRESS_BOOK'}"></span>
		<span class="value" data-bind="text: davGlobalAddressBookUrl"></span>
	</div>
</div>
