<div class="fields">
	<div class="fieldset">
		<div>
			<div class="row">
				<div>
					<label class="custom_checkbox" data-bind="css: {'checked': enable}">
						<span class="icon"></span>
						<input type="checkbox" id="enable_fwd" data-bind="checked: enable" />
					</label>
					<label for="enable_fwd" data-i18n="MAIL/LABEL_FORWARD_ENABLE" data-bind="i18n: 'text'"></label>
				</div>
			</div>
			<div class="row">
				<span class="label" data-i18n="CORE/LABEL_EMAIL" data-bind="i18n: 'text'"></span>
				<input class="value input" spellcheck="false" type="text" data-bind="value: email, disable: !enable(), hasfocus: emailFocus" />
			</div>
		</div>
	</div>
	<div class="buttons">
		<span class="button">
			<span data-i18n="CORE/BUTTON_SAVE" data-bind="click: save, i18n: 'text', visible: !isSaving()"></span>
			<span data-i18n="CORE/BUTTON_SAVING" data-bind="i18n: 'text', visible: isSaving()"></span>
		</span>
	</div>
</div>
