<div class="fields">
	<div class="fieldset">
		<div>
			<div class="row enable">
				<div>
					<label class="custom_checkbox" data-bind="css: {'checked': enable}">
						<span class="icon"></span>
						<input type="checkbox" id="enable_ar" data-bind="checked: enable" />
					</label>
					<label for="enable_ar" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENABLE_AUTORESPONDER'}"></label>
				</div>
			</div>
			<div class="row subject">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SUBJECT'}"></span>
				<input class="value input" spellcheck="false" type="text" data-bind="value: subject, disable: !enable()" />
			</div>
			<div class="row message">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_MESSAGE'}"></span>
				<textarea class="input" data-bind="value: message, disable: !enable()"></textarea>
			</div>
		</div>
	</div>
	<div class="buttons">
		<span class="button">
			<span data-bind="click: save, i18n: {'key': 'CORE/ACTION_SAVE'}, visible: !isSaving()"></span>
			<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
		</span>
	</div>
</div>
