<div class="fields">
	<div class="fieldset">
		<div>

			<div class="hint" data-bind="i18n: {'key': '%ModuleName%/INFO_NO_FILTERS_SPECIFIED'}, visible: (0 === collection().length && !loading())"></div>
			<div class="hint" data-bind="i18n: {'key': '%ModuleName%/INFO_LOADING_FILTERS'}, visible: (0 === collection().length && loading())"></div>
			
			<!-- ko foreach: collection -->
			<div class="row filter">
				<div class="value">
					<span class="buttons"><span class="button" data-bind="i18n: {'key': 'CORE/ACTION_REMOVE'}, click: function (oFilter) { $parent.deleteFilter(oFilter); }"></span></span>
					<div>
						<label class="custom_checkbox" data-bind="css: {'checked': enable}">
							<span class="icon"></span>
							<input type="checkbox" data-bind="checked: enable" />
						</label>
						<!-- ko foreach: $parent.phaseArray -->
							<!-- ko template: {name: function () { return $parents[1].displayFilterPart($data, 'Mail_Settings_AccountFilterPart'); } } --><!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
	<div class="buttons" data-bind="visible: !loading()">
		<span class="button addlink" data-bind="i18n: {'key': '%ModuleName%/ACTION_ADD_FILTER'}, click: addFilter"></span>
		<span class="button" data-bind="click: save, visible: !isSaving()">
			<span data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}"></span>
		</span>
		<span class="button" data-bind="visible: isSaving()">
			<span data-bind="i18n: {'key': '%ModuleName%/INFO_SAVING'}"></span>
		</span>
	</div>
</div>
