<div class="fields">
	<div class="fieldset">
		<div class="row" data-bind="visible: !bAllowIdentities">
			<span class="label" data-bind="i18n: {'key': 'MAIL/LABEL_YOUR_NAME'}"></span>
			<input class="value input" spellcheck="false" type="text" maxlength="65" data-bind="value: friendlyName, onEnter: save"/>
		</div>

        <div data-bind="visible: (!isDefault() || isDefault() && !isLinked() && bAllowChangeEmailSettings) && isAllowMail()">
            <div class="row">
				<!-- ko template: {name: 'Mail_Settings_ServerPropertiesView', data: oIncoming} --><!-- /ko -->
            </div>

            <div class="row">
                <span class="label required" data-bind="i18n: {'key': 'MAIL/LABEL_LOGIN'}"></span>
                <input class="value input" spellcheck="false" type="text" maxlength="255" data-bind="value: incomingMailLogin, hasfocus: incLoginFocused, onEnter: save"/>
            </div>
            <div class="row">
                <span class="label required" data-bind="i18n: {'key': 'CORE/LABEL_PASSWORD'}"></span>
                <input class="value input" spellcheck="false" type="password" maxlength="255" data-bind="value: incomingMailPassword, onEnter: save"/>
            </div>
            <div class="row">
				<!-- ko template: {name: 'Mail_Settings_ServerPropertiesView', data: oOutgoing} --><!-- /ko -->
            </div>

            <div class="row">
                <div>
                    <label class="custom_checkbox" data-bind="css: {'checked': useSmtpAuthentication}">
                        <span class="icon"></span>
                        <input type="checkbox" id="mail_out_auth" data-bind="checked: useSmtpAuthentication" />
                    </label>
                    <label for="mail_out_auth" data-bind="i18n: {'key': 'MAIL/LABEL_USE_SMTP_AUTHENTICATION'}"></label>
                </div>
            </div>
			<div class="row"></div>
		</div>

		<div class="buttons" data-bind="visible: allowChangePassword" style="text-align: left;">
			<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_CHANGE_PASSWORD'}, click: changePassword"></span>
		</div>

		<div data-bind="visible: canBeRemoved() && !isDefault()">
            <div class="row remove_account">
				<span class="link" data-bind="i18n: {'key': 'CORE/ACTION_REMOVE_ACCOUNT'}, click: function () { $parent.removeEditedAccount(); }, attr: {'id': 'selenium_settings_delete_account_' + email()}">
				</span>
            </div>
            <div class="hint">
                <span data-bind="text: removeHint"></span>
            </div>
        </div>

    </div>
	
	<div class="buttons" data-bind="visible: (!isDefault() || isDefault() && bAllowChangeEmailSettings) && isAllowMail() || canBeRemoved() && !isDefault() || !bAllowIdentities">
		<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, click: save, visible: !isSaving()"></span>
		<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, click: save, visible: isSaving()"></span>
	</div>
</div>
