<div class="panel_top">
	<div class="buttons" data-bind="visible: bAllowAddNewAccounts">
		<span class="button special add_new_account" data-i18n="SETTINGS/ACCOUNTS_BUTTON_ADD_NEW_ACCOUNT" 
			  data-bind="i18n: 'text', click: addAccount" id="selenium_settings_create_account_button"></span>
	</div>
	<h2 class="title" data-bind="text: title"></h2>
</div>

<div class="panel_center">
	<div>
		<div class="items_list accounts_list">
			<div data-bind="foreach: accounts">
				<div class="item account" data-bind="css: {'selected': id() === $parent.editedAccountId() && !$parent.editedFetcherId() && !$parent.editedIdentityId()},  click: function () {$parent.editAccount(id());}">
					<!-- ko if: allowMail() -->
						<span class="link fetcher" data-i18n="SETTINGS/ACCOUNTS_LINK_ADD_IDENTITY" data-bind="i18n: 'text', visible: $parent.bAllowIdentities, click: function (oModel, oEv) {$parent.addIdentity(id(), oEv);}"></span>
						<span class="link fetcher" data-i18n="SETTINGS/ACCOUNTS_LINK_ADD_FETCHER" data-bind="i18n: 'text', visible: (isDefault() && $parent.bAllowFetcher), click: $parent.addFetcher"></span>
					<!-- /ko -->
					<!-- ko if: !allowMail() -->
						<span class="link fetcher" data-i18n="SETTINGS/ACCOUNTS_LINK_CONNECT_TO_MAIL" data-bind="i18n: 'text', click: function (oModel, oEv) {$parent.connectToMail(id(), oEv);}"></span>
					<!-- /ko -->
					<span class="title" data-bind="text: email()"></span>
				</div>

				<!-- ko if: allowMail() -->
					<!-- ko foreach: identities -->
					<div class="item fetcher" data-bind="css: {'selected': id() === $parents[1].editedIdentityId()}, click: function () {$parents[1].editIdentity($data);}">
						<span class="icon fetcher"></span>
						<span class="label" data-i18n="SETTINGS/ACCOUNTS_IDENTITY_TEXT" data-bind="i18n: 'text'"></span>
						<span class="title" data-bind="text: fullEmail"></span>
						<span class="icon loyal" data-bind="visible: isDefault() && $parent.identities().length > 1">√</span>
					</div>
					<!-- /ko -->

					<!-- ko if: fetchers() -->
						<!-- ko foreach: fetchers().collection -->
							<div class="item fetcher" data-bind="css: {'selected': id() === $parents[1].editedFetcherId()}, click: function () {$parents[1].editFetcher($data);}">
								<span class="icon fetcher"></span>
								<span class="label" data-i18n="SETTINGS/ACCOUNT_FETCHER_FETCH_FROM" data-bind="i18n: 'text'"></span>
								<span class="title" data-bind="text: incomingMailServer() + ' / ' + incomingMailLogin()"></span>
								<span class="info" data-i18n="SETTINGS/ACCOUNT_FETCHER_FETCHING" data-bind="i18n: 'text', visible: isLocked()"></span>
							</div>
						<!-- /ko -->
					<!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
		<div class="tabs">
			<div class="shortcuts">
				<div data-bind="foreach: tabs">
					<span class="item" data-bind="attr: {'class': 'item ' + name + ((name === $parent.currentTab().name) ? ' selected' : '')}, visible: visible">
						<a href="javascript: void(0);" data-bind="text: title, click: function () { $parent.changeTab(name); }, 
								attr: {'id': 'selenium_settings_account_' + name + '_button'}"></a>
					</span>
				</div>
			</div>
			<div class="tabs_container">
				<div class="tab" data-bind="attr: {'class': 'tab ' + currentTab().name}">
					<div data-bind="template: {name: currentTab().view.ViewTemplate, data: currentTab().view}"></div>
				</div>
			</div>
		</div>
	</div>
</div>