<div class="fields">
	<div class="fieldset">
		<div class="folders items_list">
			
			<!-- ko if: !showMovedWithMouseItem() -->
				<!-- ko template: {name: 'Mail_Settings_AccountFolderItem', foreach: collection} --><!-- /ko -->
			<!-- /ko -->
			
			<!-- ko if: showMovedWithMouseItem() -->
			<div data-bind="sortable: {data: collection, connectClass: 'first_sortable_container', 
				 afterMove: $root.afterSortableFolderMoveBinded, options: {axis: 'y', revert: true}}">
				<div class="item canSelect canDrag" data-bind="visible: !bVirtual, 
					 template: { name: 'Mail_Settings_AccountFolderItemMovedWithMouse'},
					 css: {'canSubscribe': canSubscribe, 'canRename': canRename, 'canDelete': canDelete}"></div>
			</div>
			<!-- /ko -->
			
			<div class="item canSelect total">
				<span class="title">
					<span class="count" data-bind="text: totalMessageCount"></span>
					<span class="name">
						<span class="text" data-bind="i18n: {'key': 'MAIL/LABEL_TOTAL'}"></span>
					</span>
				</span>
			</div>
		</div>

		<div class="hint" data-bind="i18n: {'key': 'MAIL/INFO_DELETING_NONEMPTY_FOLDERS'}, css: {'highlight': highlighted}"></div>
		<div class="hint" data-bind="i18n: {'key': 'MAIL/INFO_SETUP_SPECIAL_FOLDERS'}"></div>
		<div class="buttons">
			<span class="button" data-bind="i18n: {'key': 'MAIL/ACTION_ADD_NEW_FOLDER'}, command: addNewFolderCommand"></span>
			<span class="button" data-bind="i18n: {'key': 'MAIL/ACTION_SETUP_SPECIAL_FOLDERS'}, command: setSystemFoldersCommand"></span>
		</div>
		{%INCLUDE-START/Account-Folders-After-Buttons/INCLUDE-END%}
	</div>
</div>
