<div class="popup add_account" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel" data-bind="css: {'step_first': isFirstStep(), 'step_last': !isFirstStep()}" id="selenium_settings_create_account_form">

		<span class="close" data-bind="click: cancelPopup"></span>

		<span class="title" data-bind="i18n: {'key': 'MAIL/HEADING_CONNECT_TO_MAIL'}, visible: isConnectToMailType()"></span>
		<span class="title" data-bind="i18n: {'key': 'MAIL/HEADING_ADD_NEW_ACCOUNT'}, visible: !isConnectToMailType() && isFirstTitle()"></span>
		<span class="title" data-bind="i18n: {'key': 'MAIL/HEADING_ADD_NEW_ACCOUNT_LAST_STEP'}, visible: !isConnectToMailType() && !isFirstTitle()"></span>

		<div class="fields">
			<div class="fieldset">
				<div class="row name">
					<span class="label" data-bind="i18n: {'key': 'MAIL/LABEL_YOUR_NAME'}"></span>
					<input class="value input" spellcheck="false"  type="text" maxlength="65" 
						   data-bind="value: friendlyName, hasfocus: friendlyNameFocus, valueUpdate: 'afterkeydown', onEnter: onSaveClick"
						   id="selenium_settings_create_account_name" />
				</div>
				<div class="row email">
					<span class="label required" data-bind="i18n: {'key': 'CORE/LABEL_EMAIL'}"></span>
					<input class="value input" spellcheck="false"  type="text" maxlength="65" 
						   data-bind="value: email, hasfocus: emailFocus, onEnter: onSaveClick, disable: isConnectToMailType"
						   id="selenium_settings_create_account_email" />
				</div>
				<div class="row login" data-bind="visible: !isFirstStep()">
					<span class="label required" data-bind="i18n: {'key': 'MAIL/LABEL_LOGIN'}"></span>
					<input class="value input" spellcheck="false"  type="text" maxlength="255" data-bind="value: incomingMailLogin, hasfocus: incomingLoginFocused, onEnter: onSaveClick"/>
				</div>
				<div class="row password">
					<span class="label required" data-bind="i18n: {'key': 'CORE/LABEL_PASSWORD'}"></span>
					<input class="value input" spellcheck="false"  type="password" maxlength="255" 
						   data-bind="value: incomingMailPassword, hasfocus: incomingPasswordFocus, onEnter: onSaveClick"
						   id="selenium_settings_create_account_password" />
				</div>
				<div class="row incoming" data-bind="visible: !isFirstStep()">
					<!-- ko template: {name: 'Mail_Settings_ServerPropertiesView', data: oIncoming} --><!-- /ko -->
				</div>
				<div class="row outgoing" data-bind="visible: !isFirstStep()">
					<!-- ko template: {name: 'Mail_Settings_ServerPropertiesView', data: oOutgoing} --><!-- /ko -->
				</div>

				<div class="row smtp_authentication" data-bind="visible: !isFirstStep()">
					<div>
						<label class="custom_checkbox" data-bind="css: {'checked': useSmtpAuthentication}">
							<span class="icon"></span>
							<input type="checkbox" id="add_new_account_mail_out_auth" data-bind="checked: useSmtpAuthentication" />
						</label>
						<label for="add_new_account_mail_out_auth" data-bind="i18n: {'key': 'MAIL/LABEL_USE_SMTP_AUTHENTICATION'}"></label>
					</div>	
				</div>
			</div>

			<div class="buttons">
				<span class="button save" data-bind="i18n: {'key': 'MAIL/ACTION_ADD'}, click: onFirstSaveClick, visible: !loading() && isFirstStep()"
					  id="selenium_settings_create_account_add_button"></span>
				<span class="button save" data-bind="i18n: {'key': 'MAIL/ACTION_ADD_IN_PROGRESS'}, visible: loading() && isFirstStep()"></span>
				<span class="button save" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, click: onSecondSaveClick, visible: !loading() && !isFirstStep()"></span>
				<span class="button save" data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: loading() && !isFirstStep()"></span>
				<span class="button cancel secondary" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
