<div class="popup add_fetcher" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="i18n: {'key': 'MAIL/HEADING_ADD_NEW_FETCHER'}"></span>

		<div class="fields">
			<div class="fieldset">
				<div class="row incoming">
					<!-- ko template: {name: 'Mail_Settings_ServerPropertiesView', data: oIncoming} --><!-- /ko -->
				</div>

				<div class="row login">
					<span class="label required" data-bind="i18n: {'key': 'MAIL/LABEL_LOGIN'}"></span>
					<input class="value input" spellcheck="false" type="text" maxlength="255" data-bind="value: incomingMailLogin, onEnter: save, hasFocus: loginIsSelected"/>
				</div>
				<div class="row password">
					<span class="label required" data-bind="i18n: {'key': 'CORE/LABEL_PASSWORD'}"></span>
					<input class="value input" spellcheck="false" type="password" maxlength="255" data-bind="value: incomingMailPassword, onEnter: save, hasFocus: passwordIsSelected"/>
				</div>

				<div class="row hint">
					<span class="" data-bind="i18n: {'key': 'MAIL/INFO_FETCHER_STORE'}"></span>
				</div>

				<div class="row folder">
					<span class="label required" data-bind="i18n: {'key': 'MAIL/LABEL_TARGET_FOLDER'}"></span>
					<span data-bind="i18n: {'key': 'MAIL/INFO_WAITING_FOLDER_LIST'}, visible: options().length === 0"></span>
					<select class="value input" data-bind="visible: options().length > 1,
						value: folder, options: options, optionsText: 'translatedDisplayName', optionsValue: 'fullName', 
						optionsAfterRender: defaultOptionsAfterRender, valueUpdate: ['blur', 'afterkeydown']
					"></select>

					<span class="link" data-bind="i18n: {'key': 'MAIL/ACTION_ADD_NEW_FOLDER'}, command: addNewFolderCommand, visible: options().length > 1"></span>
				</div>

				<div class="row">
					<div>
						<label class="custom_checkbox" data-bind="css: {'checked': leaveMessagesOnServer}">
							<span class="icon"></span>
							<input type="checkbox" id="popup_leave_essages_on_server" data-bind="checked: leaveMessagesOnServer" />
						</label>
						<label for="popup_leave_essages_on_server" data-bind="i18n: {'key': 'MAIL/LABEL_LEAVE_MESSAGES_ON_SERVER'}"></label>
					</div>
				</div>
			</div>

			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, click: save, visible: !loading()"></span>
				<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: loading()"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'CORE/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
