<div class="panel_top">
	<h2 class="title" data-bind="i18n: {'key': 'MAIL/SETTINGS_TITLE'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'MAIL/LABEL_MESSAGES_PER_PAGE'}"></span>
				<select class="value input" data-bind="options: messagesPerPageValues, value: messagesPerPage"></select>
			</div>
			<div class="row" data-bind="visible: bAllowThreads">
				<span class="value offset">
					<label class="custom_checkbox" data-bind="css: {'checked': useThreads}">
						<span class="icon"></span>
						<input type="checkbox" id="useThreads" data-bind="checked: useThreads" />
					</label>
					<label for="useThreads" data-bind="i18n: {'key': 'MAIL/LABEL_USE_THREADING'}"></label>
				</span>
			</div>
			<div class="row">
				<span class="value offset">
					<label class="custom_checkbox" data-bind="css: {'checked': saveRepliesToCurrFolder}">
						<span class="icon"></span>
						<input type="checkbox" id="saveRepliesToCurrFolder" data-bind="checked: saveRepliesToCurrFolder" />
					</label>
					<label for="saveRepliesToCurrFolder" data-bind="i18n: {'key': 'MAIL/LABEL_SAVE_REPLIED_TO_CURR_FOLDER'}"></label>
				</span>
			</div>
			<div class="hint row">
				<span class="value offset" data-bind="i18n: {'key': 'MAIL/HINT_SAVE_REPLIED_TO_CURR_FOLDER'}"></span>
			</div>
			<div class="row" data-bind="visible: bRtl">
				<span class="value offset">
					<label class="custom_checkbox" data-bind="css: {'checked': allowChangeInputDirection}">
						<span class="icon"></span>
						<input type="checkbox" id="allowChangeInputDirection" data-bind="checked: allowChangeInputDirection" />
					</label>
					<label for="allowChangeInputDirection" data-bind="i18n: {'key': 'MAIL/LABEL_SHOW_INPUT_DIRECTION_BUTTONS'}"></label>
				</span>
			</div>
			<div class="hint row" data-bind="visible: bRtl">
				<span class="value offset" data-bind="i18n: {'key': 'MAIL/HINT_SHOW_INPUT_DIRECTION_BUTTONS'}"></span>
			</div>
			
			<div class="row" data-bind="visible: bAllowMailto">
				<span class="value offset">
					<a class="link" href="javascript:void(0);" data-bind="i18n: {'key': 'MAIL/BUTTON_REGISTER_MAILTO'}, click: registerMailto"></a>
				</span>
			</div>
			<div class="hint row" data-bind="visible: bAllowMailto">
				<span class="value offset" data-bind="i18n: {'key': 'MAIL/HINT_REGISTER_MAILTO', 'type': 'html'}"></span>
			</div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save">
				<span data-bind="i18n: {'key': 'CORE/BUTTON_SAVE'}, visible: !isSaving()"></span>
				<span data-bind="i18n: {'key': 'CORE/BUTTON_SAVING'}, visible: isSaving()"></span>
			</span>
		</div>
	</div>
</div>
