<div class="panel_top">
	<h2 class="title" data-i18n="MAIL/SETTINGS_TITLE" data-bind="i18n: 'text'"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-i18n="MAIL/LABEL_MESSAGES_PER_PAGE" data-bind="i18n: 'text'"></span>
				<select class="value input" data-bind="options: messagesPerPageValues, value: messagesPerPage"></select>
			</div>
			<div class="row" data-bind="visible: bAllowThreads">
				<span class="value offset">
					<label class="custom_checkbox" data-bind="css: {'checked': useThreads}">
						<span class="icon"></span>
						<input type="checkbox" id="useThreads" data-bind="checked: useThreads" />
					</label>
					<label for="useThreads" data-i18n="MAIL/LABEL_USE_THREADING" data-bind="i18n: 'text'"></label>
				</span>
			</div>
			<div class="row">
				<span class="value offset">
					<label class="custom_checkbox" data-bind="css: {'checked': saveRepliesToCurrFolder}">
						<span class="icon"></span>
						<input type="checkbox" id="saveRepliesToCurrFolder" data-bind="checked: saveRepliesToCurrFolder" />
					</label>
					<label for="saveRepliesToCurrFolder" data-i18n="MAIL/LABEL_SAVE_REPLIED_TO_CURR_FOLDER" data-bind="i18n: 'text'"></label>
				</span>
			</div>
			<div class="hint row">
				<span class="value offset" data-bind="i18n: 'text'" data-i18n="MAIL/HINT_SAVE_REPLIED_TO_CURR_FOLDER"></span>
			</div>
			<div class="row" data-bind="visible: bRtl">
				<span class="value offset">
					<label class="custom_checkbox" data-bind="css: {'checked': allowChangeInputDirection}">
						<span class="icon"></span>
						<input type="checkbox" id="allowChangeInputDirection" data-bind="checked: allowChangeInputDirection" />
					</label>
					<label for="allowChangeInputDirection" data-i18n="MAIL/LABEL_SHOW_INPUT_DIRECTION_BUTTONS" data-bind="i18n: 'text'"></label>
				</span>
			</div>
			<div class="hint row" data-bind="visible: bRtl">
				<span class="value offset" data-bind="i18n: 'text'" data-i18n="MAIL/HINT_SHOW_INPUT_DIRECTION_BUTTONS"></span>
			</div>
			
			<div class="row" data-bind="visible: bAllowMailto">
				<span class="value offset">
					<a class="link" href="javascript:void(0);" data-bind="i18n: 'text', click: registerMailto" data-i18n="MAIL/BUTTON_REGISTER_MAILTO"></a>
				</span>
			</div>
			<div class="hint row" data-bind="visible: bAllowMailto">
				<span class="value offset" data-bind="i18n: 'html'" data-i18n="MAIL/HINT_REGISTER_MAILTO"></span>
			</div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save">
				<span data-i18n="CORE/BUTTON_SAVE" data-bind="i18n: 'text', visible: !isSaving()"></span>
				<span data-i18n="CORE/BUTTON_SAVING" data-bind="i18n: 'text', visible: isSaving()"></span>
			</span>
		</div>
	</div>
</div>
