<div class="fields">
	<div class="fieldset">
		<div class="row">
			<div>
				<label class="custom_radio" data-bind="css: {'checked': useSignatureRadio() === '0'}">
					<span class="icon"></span>
					<input type="radio" value="0" data-bind="checked: useSignatureRadio, attr: {'id': 'noSignature' + __name}" />
				</label>
				<label data-bind="i18n: {'key': 'CORE/LABEL_NO_SIGNATURE'}, attr: {'for': 'noSignature' + __name}"></label>
			</div>
		</div>
			
		<div class="row editor_row">
			<label class="custom_radio" data-bind="css: {'checked': useSignatureRadio() === '1'}">
				<span class="icon"></span>
				<input type="radio" value="1" data-bind="checked: useSignatureRadio, enable: enabled" />
			</label>
			
			<div class="editor" data-bind="template: {name: oHtmlEditor.ViewTemplate, data: oHtmlEditor}"></div>
		</div>
		<div class="hint" data-bind="visible: enableImageDragNDrop, i18n: {'key': 'MAIL/INFO_IMAGE_DRAGNDROP'}"></div>
	</div>
	<div class="buttons">
		<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE'}, click: save, visible: !isSaving()"></span>
		<span class="button" data-bind="i18n: {'key': 'CORE/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
	</div>
</div>
