<div class="fields">
	<div class="fieldset">
		<div class="row">
			<div>
				<label class="custom_radio" data-bind="css: {'checked': useSignatureRadio() === '0'}">
					<span class="icon"></span>
					<input type="radio" value="0" data-bind="checked: useSignatureRadio, attr: {'id': 'noSignature' + __name}" />
				</label>
				<label data-i18n="CORE/LABEL_NO_SIGNATURE" data-bind="i18n: 'text', attr: {'for': 'noSignature' + __name}"></label>
			</div>
		</div>
			
		<div class="row editor_row">
			<label class="custom_radio" data-bind="css: {'checked': useSignatureRadio() === '1'}">
				<span class="icon"></span>
				<input type="radio" value="1" data-bind="checked: useSignatureRadio, enable: enabled" />
			</label>
			
			<div class="editor" data-bind="template: {name: oHtmlEditor.ViewTemplate, data: oHtmlEditor}"></div>
		</div>
		<div class="hint" data-i18n="MAIL/HINT_IMAGE_DRAGNDROP" data-bind="visible: enableImageDragNDrop, i18n: 'text'"></div>
	</div>
	<div class="buttons">
		<span class="button" data-i18n="CORE/BUTTON_SAVE" data-bind="i18n: 'text', click: save, visible: !isSaving()"></span>
		<span class="button" data-i18n="CORE/BUTTON_SAVING" data-bind="i18n: 'text', visible: isSaving()"></span>
	</div>
</div>
