<div class="item" data-bind="css: {'expand': $parent.currentCalendarDropdown() === id}, style: {backgroundColor: color}">
	<span class="dropdown">
		<span class="dropdown_helper">
			<span class="dropdown_arrow"><span></span></span>
			<span class="dropdown_content" data-bind="style: {backgroundColor: color}">
				<span class="item" data-bind="i18n: {'key': '%ModuleName%/ACTION_EDIT_CALENDAR'}, visible: isEditable(), click: function (oItem) {$parent.openUpdateCalendarForm(oItem);}"></span>
				<span class="item" data-bind="i18n: {'key': '%ModuleName%/ACTION_IMPORT_CALENDAR'}, visible: isEditable(), click: function (oItem) {$parent.openImportCalendarForm(oItem);}"></span>
				<span class="item" data-bind="i18n: {'key': '%ModuleName%/ACTION_GET_CALENDAR_LINK'}, visible: (!isShared() || isOwner()), click: function (oItem, eEvent) {$parent.openGetLinkCalendarForm(oItem, eEvent);}"></span>
				<span class="item" data-bind="i18n: {'key': '%ModuleName%/ACTION_SHARE_CALENDAR'}, visible: (canShare() && $parent.bAllowShare), click: function (oItem) {$parent.openShareCalendarForm(oItem);}"></span>
				<span class="item" data-bind="i18n: {'key': '%ModuleName%/ACTION_REMOVE_CALENDAR'}, visible: isOwner() && !isDefault && !isSharedToAll(), click: function () {$parent.deleteCalendar(id);}"></span>
				<span class="item" data-bind="i18n: {'key': '%ModuleName%/ACTION_UNSUBSCRIBE_CALENDAR'}, visible: !isOwner() && !isSharedToAll(), click: function () {$parent.deleteCalendar(id, true);}"></span>
				<span class="separator" data-bind="visible: (!isShared() || isOwner())"></span>
				<span class="colors" data-bind="visible: isEditable(), foreach: $parent.colors">
					<span class="item color_pick" data-bind="style: {backgroundColor: $data}, css: {'selected': $parent.color() === $data},
						 click: function () {$root.updateCalendarColor($data, $parent.id);}"></span>
				</span>
			</span>
		</span>
	</span>
</div>
