<div class="popup calendar_popup calendar_getlink" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="title" data-bind="style: {backgroundColor: selectedColor}, i18n: {'key': 'CALENDAR/TITLE_GETLINK_CALENDAR'}"></span>

		<div class="fields">
			<div class="fieldset dav_access">
				<div class="row">
					<label for="dav_url" class="label" data-bind="i18n: {'key': 'CALENDAR/URL_DAV'}"></label>
					<input id="dav_url" class="value input" spellcheck="false" type="text" maxlength="200" data-bind="value: calendarUrl(), click: function () {$element.select();}" readonly />
				</div>
				<div class="row">
					<label for="ics_link" class="label" data-bind="i18n: {'key': 'CALENDAR/URL_ICS'}"></label>
					<input id="ics_link" class="value input" spellcheck="false" type="text" maxlength="200" data-bind="value: icsLink(), click: function () {$element.select();}"  readonly />
					<a class="control download" data-bind="attr: {href: exportUrl()}"></a>
				</div>
			</div>
			<div class="fieldset web_access">
				<div class="row web_access_switch">
					<label class="custom_checkbox" data-bind="css: {'checked': isPublic}">
						<span class="icon"></span>
						<input type="checkbox" id="make_public_access" data-bind="checked: isPublic(), click: function (){isPublic(!isPublic());}" />
					</label>
					<label for="make_public_access" data-bind="i18n: {'key': 'CALENDAR/LABEL_WEB_ACCESS'}"></label>
				</div>
				<div class="row" data-bind="visible: isPublic()">
					<label for="public_link" class="label" data-bind="i18n: {'key': 'CALENDAR/LABEL_WEB_LINK'}"></label>
					<input id="public_link" class="value input" spellcheck="false" type="text" maxlength="200" data-bind="value: pubUrl(), click: function () {$element.select();}" readonly />
				</div>
			</div>		
			<div class="buttons">
				<span class="button save" data-bind="i18n: {'key': 'CORE/BUTTON_CLOSE'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
